.refentry {
    position: relative;
}

h3.title {
    font-size: 1.5em;
    border-top-style: solid;
    border-top-width: 3px;
    padding-top: 6px;
    margin-top: 2em;
}

i .parameter {
    font-style: normal;
}

.refentry .methodsynopsis,
.refentry .warning,
.refentry .note {
    padding: 10px 20px;
    margin: 1em 2em 1.3em;
}

.refentry .methodsynopsis {
    border-top: 3px solid #ddd;
    background: #efefef;
    color: #666;
    font-family: monospace;
}

.refentry .note {
    border-top: 3px solid #fff08a;
    background-color: #EFEFEF;
}
.refentry .warning {
    border-top: 3px solid #ff4d4d;
    background-color: #EFEFEF;
}
.refentry .note h4, .refentry .warning h4 {
    font-size: 1em;
    float: left;
    margin-right: 0.8em;
}

.methodname b {
    color: #000;
}

.parameter {
    color: #604080;
    font-weight: bold;
}

.initializer {
    color: #000;
}

th {
    text-align: left;
}

td, th {
    padding: 2px 5px;
}

.refentry .description p {
    margin: 0.7em 0;
}

.refentry .parameters dt {
    font-size: 1.2em;
}

.refentry .parameters dd {
    margin-top: -0.7em;
}

.refentry .parameters p {
    margin: 0.7em 0;
}