/*
@font-face{
    font-family: 'Fira Sans';
    src: url('/fonts/Fira/eot/FiraSans-Hair.eot');
    src: local('/fonts/Fira/Fira Sans Hair'),
         url('/fonts/Fira/eot/FiraSans-Hair.eot') format('embedded-opentype'),
         url('/fonts/Fira/woff/FiraSans-Hair.woff') format('woff'),
         url('/fonts/Fira/ttf/FiraSans-Hair.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/fonts/Fira/eot/FiraSans-HairItalic.eot');
    src: local('/fonts/Fira/Fira Sans Hair Italic'),
         url('/fonts/Fira/eot/FiraSans-HairItalic.eot') format('embedded-opentype'),
         url('/fonts/Fira/woff/FiraSans-HairItalic.woff') format('woff'),
         url('/fonts/Fira/ttf/FiraSans-HairItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/fonts/Fira/eot/FiraSans-UltraLight.eot');
    src: local('/fonts/Fira/Fira Sans UltraLight'),
         url('/fonts/Fira/eot/FiraSans-UltraLight.eot') format('embedded-opentype'),
         url('/fonts/Fira/woff/FiraSans-UltraLight.woff') format('woff'),
         url('/fonts/Fira/ttf/FiraSans-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/fonts/Fira/eot/FiraSans-UltraLightItalic.eot');
    src: local('/fonts/Fira/Fira Sans UltraLight Italic'),
         url('/fonts/Fira/eot/FiraSans-UltraLightItalic.eot') format('embedded-opentype'),
         url('/fonts/Fira/woff/FiraSans-UltraLightItalic.woff') format('woff'),
         url('/fonts/Fira/ttf/FiraSans-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/fonts/Fira/eot/FiraSans-Light.eot');
    src: local('/fonts/Fira/Fira Sans Light'),
         url('/fonts/Fira/eot/FiraSans-Light.eot') format('embedded-opentype'),
         url('/fonts/Fira/woff/FiraSans-Light.woff') format('woff'),
         url('/fonts/Fira/ttf/FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/fonts/Fira/eot/FiraSans-LightItalic.eot');
    src: local('/fonts/Fira/Fira Sans Light Italic'),
         url('/fonts/Fira/eot/FiraSans-LightItalic.eot') format('embedded-opentype'),
         url('/fonts/Fira/woff/FiraSans-LightItalic.woff') format('woff'),
         url('/fonts/Fira/ttf/FiraSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
*/
@font-face{
    font-family: 'Fira Sans';
    src: url('/fonts/Fira/eot/FiraSans-Book.eot');
    src: local('/fonts/Fira/Fira Sans Book'),
         url('/fonts/Fira/eot/FiraSans-Book.eot') format('embedded-opentype'),
         url('/fonts/Fira/woff/FiraSans-Book.woff') format('woff'),
         url('/fonts/Fira/ttf/FiraSans-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/fonts/Fira/eot/FiraSans-BookItalic.eot');
    src: local('/fonts/Fira/Fira Sans Book Italic'),
         url('/fonts/Fira/eot/FiraSans-BookItalic.eot') format('embedded-opentype'),
         url('/fonts/Fira/woff/FiraSans-BookItalic.woff') format('woff'),
         url('/fonts/Fira/ttf/FiraSans-BookItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/fonts/Fira/eot/FiraSans-Medium.eot');
    src: local('/fonts/Fira/Fira Sans Medium'),
         url('/fonts/Fira/eot/FiraSans-Medium.eot') format('embedded-opentype'),
         url('/fonts/Fira/woff/FiraSans-Medium.woff') format('woff'),
         url('/fonts/Fira/ttf/FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/fonts/Fira/eot/FiraSans-MediumItalic.eot');
    src: local('/fonts/Fira/Fira Sans Medium Italic'),
         url('/fonts/Fira/eot/FiraSans-MediumItalic.eot') format('embedded-opentype'),
         url('/fonts/Fira/woff/FiraSans-MediumItalic.woff') format('woff'),
         url('/fonts/Fira/ttf/FiraSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/fonts/Fira/eot/FiraSans-SemiBold.eot');
    src: local('/fonts/Fira/Fira Sans SemiBold'),
         url('/fonts/Fira/eot/FiraSans-SemiBold.eot') format('embedded-opentype'),
         url('/fonts/Fira/woff/FiraSans-SemiBold.woff') format('woff'),
         url('/fonts/Fira/ttf/FiraSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/fonts/Fira/eot/FiraSans-SemiBoldItalic.eot');
    src: local('/fonts/Fira/Fira Sans SemiBold Italic'),
         url('/fonts/Fira/eot/FiraSans-SemiBoldItalic.eot') format('embedded-opentype'),
         url('/fonts/Fira/woff/FiraSans-SemiBoldItalic.woff') format('woff'),
         url('/fonts/Fira/ttf/FiraSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/fonts/Fira/eot/FiraSans-Bold.eot');
    src: local('/fonts/Fira/Fira Sans Bold'),
         url('/fonts/Fira/eot/FiraSans-Bold.eot') format('embedded-opentype'),
         url('/fonts/Fira/woff/FiraSans-Bold.woff') format('woff'),
         url('/fonts/Fira/ttf/FiraSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/fonts/Fira/eot/FiraSans-BoldItalic.eot');
    src: local('/fonts/Fira/Fira Sans Bold Italic'),
         url('/fonts/Fira/eot/FiraSans-BoldItalic.eot') format('embedded-opentype'),
         url('/fonts/Fira/woff/FiraSans-BoldItalic.woff') format('woff'),
         url('/fonts/Fira/ttf/FiraSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
/*
@font-face{
    font-family: 'Fira Sans';
    src: url('/fonts/Fira/eot/FiraSans-ExtraBold.eot');
    src: local('/fonts/Fira/Fira Sans ExtraBold'),
         url('/fonts/Fira/eot/FiraSans-ExtraBold.eot') format('embedded-opentype'),
         url('/fonts/Fira/woff/FiraSans-ExtraBold.woff') format('woff'),
         url('/fonts/Fira/ttf/FiraSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/fonts/Fira/eot/FiraSans-ExtraBoldItalic.eot');
    src: local('/fonts/Fira/Fira Sans ExtraBold Italic'),
         url('/fonts/Fira/eot/FiraSans-ExtraBoldItalic.eot') format('embedded-opentype'),
         url('/fonts/Fira/woff/FiraSans-ExtraBoldItalic.woff') format('woff'),
         url('/fonts/Fira/ttf/FiraSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/fonts/Fira/eot/FiraSans-Heavy.eot');
    src: local('/fonts/Fira/Fira Sans Heavy'),
         url('/fonts/Fira/eot/FiraSans-Heavy.eot') format('embedded-opentype'),
         url('/fonts/Fira/woff/FiraSans-Heavy.woff') format('woff'),
         url('/fonts/Fira/ttf/FiraSans-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('/fonts/Fira/eot/FiraSans-HeavyItalic.eot');
    src: local('/fonts/Fira/Fira Sans Heavy Italic'),
         url('/fonts/Fira/eot/FiraSans-HeavyItalic.eot') format('embedded-opentype'),
         url('/fonts/Fira/woff/FiraSans-HeavyItalic.woff') format('woff'),
         url('/fonts/Fira/ttf/FiraSans-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
*/

@font-face{
    font-family: 'Fira Mono';
    src: url('/fonts/Fira/eot/FiraMono-Regular.eot');
    src: local('/fonts/Fira/Fira Mono'),
         url('/fonts/Fira/eot/FiraMono-Regular.eot') format('embedded-opentype'),
         url('/fonts/Fira/woff/FiraMono-Regular.woff') format('woff'),
         url('/fonts/Fira/ttf/FiraMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Mono';
    src: url('/fonts/Fira/eot/FiraMono-Bold.eot');
    src: local('/fonts/Fira/Fira Mono Bold'),
         url('/fonts/Fira/eot/FiraMono-Bold.eot') format('embedded-opentype'),
         url('/fonts/Fira/woff/FiraMono-Bold.woff') format('woff'),
         url('/fonts/Fira/ttf/FiraMono-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

