/.build/
/vendor/

backend/mirror.gif
backend/mirror.png
backend/mirror.jpg
backend/GeoIP.dat
include/download-instructions/releases.json
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
