<IfModule mod_php3.c>
php3_include_path .:./include:../include:../../include
</IfModule>
<IfModule mod_php4.c>
php_value include_path .:./include:../include:../../include
</IfModule>
DirectoryIndex index.php index.php3
AddType application/x-pilot .prc .pdb
