<IfModule mod_php4.c>
php_value	include_path		.:./include:../include:../../include
php_flag	short_open_tag		on
</IfModule>
DirectoryIndex index.php
AddType application/x-pilot .prc .pdb
ErrorDocument 404 /error/
ErrorDocument 401 /error/
ErrorDocument 403 /error/
