/* $Id$ */

A {
    font-weight: bold;
    text-decoration: none;
    color: #5B69A6;
}

TD,TH {
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
}

.sidebartoc {
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: normal;
}

.example {
    font-family: tahoma, verdana, arial, helvetica, sans-serif;
    color: #000000;
    background: #F0F0F0;
    padding: 5px;
    margin: 5px;
}

.programlisting {
    margin-left: 15px;
    font-family: "monotype.com", "courier new", courier, monospace;
}

.warning {
    background: #FFCCCC;
}

.author {
    font-size: 10pt;
    font-weight: normal;
}

.editor {
    font-size: 10pt;
    font-weight: normal;
}

.blacklink {
    text-decoration: none;
    color: #000000;
}

.whitelink {
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 80%;
    margin-left: 15px;
}

PRE {
    font-size : 10pt;
}

LI {
    margin-bottom: 4pt;
}

UL,OL {
    margin-top: 4pt;
}
