/* $Id$ */

A {
    font-weight: bold;
    text-decoration: none;
    color: #5B69A6;
}

.sidebartoc {
    font-family: tahoma, arial, helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: normal;
}

.example {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    background: #E0E0E0;
}

.programlisting {
    margin-left: 15px;
    font-family: "monotype.com", "courier new", courier, monospace;
}

.warning {
    background: #FFCCCC;
}
