includes:
    - phpstan-baseline.neon

parameters:
	level: 7
	paths:
		- .

	fileExtensions:
		- php
		- inc

	excludePaths:
		analyse:
			- vendor/
			- include/download-instructions/
			- var/ (?)
			- public/manual/en
			- include/releases.inc
			- include/pregen-news.inc
			- include/pregen-confs.inc
