body, ul, td, th {
	font-family: arial,helvetica,sans-serif;
	font-size: 95%;
}

p {
	font-family: arial,helvetica,sans-serif;
}

em {
	font-weight: bold;
	font-style: italic;
}

.error {
        color: #cc0000;
}

.newsDate {
	font-size: 85%;
	font-style: italic;
	color: #6666cc;
}

.sidebar {
	font-size: 85%;
}

code, pre {
	font-family: "andale mono", "monotype.com", "courier new", monospace;
	font-size: 90%;
}

h1 {
	font-family: arial,helvetica,sans-serif;
	font-size: 140%;
	font-weight: bold;
	color: #000066;
}

h2 {
	font-family: arial,helvetica,sans-serif;
	font-size: 125%;
	font-weight: bold;
	color: #000066;
}

h3 {
	font-family: arial,helvetica,sans-serif;
	font-size: 110%;
	font-weight: bold;
	color: #000066;
}

h4 {
	font-family: arial,helvetica,sans-serif;
	font-size: 100%;
	font-weight: bold;
	color: #000066;
}

small {
	font-family: arial,helvetica,sans-serif;
	font-size: 75%;
}

a.small {
	font-family: arial,helvetica,sans-serif;
	font-size: 75%;
	text-decoration: none;
}

.tableTitle {
	font-family: arial,helvetica,sans-serif;
	font-weight: bold;
}

.tableExtras {
	font-family: arial,helvetica,sans-serif;
	font-size: 85%;
	color: #FFFFFF;
}


input {
	font-family: arial,helvetica,sans-serif;
}

textarea {
	font-family: "andale mono", "monotype.com", "courier new", monospace;
}

input.small, select.small {
	font-family: arial,helvetica,sans-serif;
	font-size: 75%;
}

textarea.small {
	font-family: "andale mono", "monotype.com", "courier new", monospace;
	font-size: 75%;
}