/* Let no border around the body appear, and set
   it to display on a white background */
body, html {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

/* Font settings for page elements */
body, ul, td, th, p, h1, h2, h3, h4, small, .small,
.tableTitle, .tableExtras, input, textarea, select {
    font-family: verdana, arial, helvetica, sans-serif;
}
code, pre, tt {
    font-family: Courier, "Courier New", monospace;
}

/* General header styles */
h1, h2, h3, h4 {
    font-weight: bold;
    color: #000066;
}
h1 { font-size: 130%; }
h2 { font-size: 125%; }
h3 { font-size: 110%; }
h4 { font-size: 100%; }

/* Event month header on homepage */
h4.eventmonth {
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 1px 0px;
    background-color: #d3d3d3;
    padding: 2px;
}

/* Quicksearch table cell on top of every page. */
td.quicksearch {
    color: white;
}

/* Horizontal delimiter defaults */
hr {
    border: 0px;
    color: #b1b1b1;
    background-color: #b1b1b1;
    height: 1px;
}

/* Default font size for elements */
body, ul, td, th {
    font-size: 85%;
}

/* Indented block */
div.indent {
    margin-left: 50px;
}

li {
	padding-top: 3px;
	padding-bottom: 3px;
}

em {
	font-weight: bold;
	font-style: italic;
}

acronym {
        border-bottom: 1px dashed #00cc00;
        cursor: help;
}

.error {
        color: #cc0000;
}

/* News date info on frontpage and in the archives */
.newsdate {
	font-size: 75%;
	font-style: italic;
	color: #6666cc;
}

.sidebar {
	font-size: 80%;
	padding: 5px;
}

.sidebar p {
	text-align: left !important;
}

small, .small {
	font-size: 75%;
}

a.small {
	text-decoration: none;
}

.tableTitle {
	font-weight: bold;
}

.tableExtras {
	font-size: 85%;
	color: #FFFFFF;
}

p.formerror {
        border: 1px solid #ff0000;
        color: #000000;
        background: #ffeeee;
        padding: 2px 4px;
}

div.errors, .warn {
        border: 1px dashed #666600;
        color: #660000;
        background: #ffeeee;
        margin: 4px;
        padding: 6px;
}

div.tip, p.tip {
        border: 1px solid #00c;
        color: #000066;
        background: #eeeeff;
        padding: 0px 8px;
}

table#cal {
        font-size: smaller;
}

table#cal a {
        text-decoration: none;
}
table#cal a:hover {
        text-decoration: underline;
}

table#cal a.day {
        float: right;
        font-weight: bold;
        color: #666666;
}

table#cal div.event {
        margin-bottom: 2px;
        padding-bottom: 2px;
        border-bottom: 1px dashed #000000;
}

form.thin {
	margin-bottom: 0px;
	margin-top: 0px;
}

.parameter:after {
	content: " ";
}

div.mirror {  
	border: 1px dashed #660000;
	background: #ffeeee;
	color: #660000;
	margin: 4px;
	padding: 6px;
} 

img {
	border: 0px;
}
img.flag {
	border: 1px solid #000000;
}

.md5sum {
	color: #6666cc;
}

/* Used on the credits page [.e, .h, .v and .vr] */
.e {
	background-color: #ccccff; 
	font-weight: bold;
}

.h {
	background-color: #9999cc; 
	font-weight: bold;
}

.v {
	background-color: #cccccc;
}

.vr {
	background-color: #cccccc; 
	text-align: right;
}

/* Standard table formatting */
table.standard td {
    background-color: #eeeeee;
}
table.standard th {
    background-color: #cccccc;
}
table.standard td.sub, table.standard th.sub,
table.standard th.subr {
    background-color: #dddddd;
}
table.standard th.subr {
    text-align: right;
    vertical-align: top;
}

/* browsers handle this differently
input.max, textarea.max, select.max {
    width: 100%;
}
*/

/* PHP code syntax highlighting */
div.phpcode, pre {
   margin: 5px 0;
}
div.phpcode span.html {
    color: black;	
}

div.phpcode span.comment {
    color: #FF8000;
}

div.phpcode span.default {
    color: #0000BB;
}

div.phpcode span.keyword {
    color: #007700;
}

div.phpcode span.string {
    color: #DD0000;
}

.center {
	text-align: center;
}
.center table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
.center th {
	text-align: center;
}

/* Thanks listing on frontpage */
ul.simple {
	padding-left: 8px;
	margin: 0 0 1em 0;
}
ul.simple li {
	padding: 0px;
	list-style-type: none;
	font-size: 125%;
}

/* User notes display */
div#usernotes {
	background-color: #e0e0e0;
	color: inherit;
}
div#usernotes div.head, div#usernotes div.foot {
	background-color: #d0d0d0;
	color: inherit;
	padding: 4px;
}
div#usernotes div.foot {
	text-align: right;
}
div#usernotes div.foot a, div#usernotes div.head a {
	color: black;
	background-color: transparent;
}
div#usernotes span.action {
	float: right;
}
div#usernotes div.note {
	padding: 4px;
}
div#usernotes div.text {
	background-color: #f0f0f0;
	color: inherit;
	padding: 2px;
	margin-top: 4px;
}

/* Left sidebar TOC on manual pages */
ul.toc {
    margin: 0px 5px 5px 5px;
    padding: 0px;
}
ul.toc li {
    margin: 1px 0 1px 1px;
    padding: 1px 0 1px 11px;
    list-style-type: none;
    background-repeat: no-repeat;
    background-position: center left;
}
ul.toc li.header {
    font-size: 135%;
    padding: 5px 0px 5px 11px;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 5px;
}
ul.toc li.active {
    font-weight: bold;
}
ul.toc li a {
    text-decoration: none;
}
ul.toc li a:hover {
    text-decoration: underline;
}

/* for search system... */
ul#search-results {
  list-style-type: none;
}
ul#search-results li {
  margin-top: 1em;
  list-style-type: none;
}
ul#search-results p {
  margin: 0;
}
ul#search-results p.result {
	font-weight: 700;
}
ul#search-results p.summary,
ul#search-results p.meta {
  font-size: 0.8em;
  margin-left: 2em;
}
ul#search-results p.meta {
  color: #008000;
}
ul#search-results p.meta a {
  color: #8284cc;
}
div#results_nav {
	margin:auto;
	width: 200px;
	text-align: center;
}

ul#results_nav_list {
	text-align: center;
	padding: 0px;
}
ul#results_nav_list li {
	display: inline;
	margin-right: 0.4em;
	list-style-type: none;
}
