/* $Id$ */

.sidebartoc {
    font-family: tahoma, arial, helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none
}

.example {
    margin-top: 5px;
    margin-bottom: 5px;
    border-right-width: 1;
    background: #E0E0E0;
}

.programlisting {
    font-family: courier;
}
