@layer properties {
    @supports (((-webkit-hyphens:none)) and (not (margin-trim:inline))) or ((-moz-orient:inline) and (not (color:rgb(from red r g b)))) {
        *, :before, :after, ::backdrop {
            --tw-blur: initial;
            --tw-brightness: initial;
            --tw-contrast: initial;
            --tw-grayscale: initial;
            --tw-hue-rotate: initial;
            --tw-invert: initial;
            --tw-opacity: initial;
            --tw-saturate: initial;
            --tw-sepia: initial;
            --tw-drop-shadow: initial;
            --tw-drop-shadow-color: initial;
            --tw-drop-shadow-alpha: 100%;
            --tw-drop-shadow-size: initial;
            --tw-shadow: 0 0 #0000;
            --tw-shadow-color: initial;
            --tw-shadow-alpha: 100%;
            --tw-inset-shadow: 0 0 #0000;
            --tw-inset-shadow-color: initial;
            --tw-inset-shadow-alpha: 100%;
            --tw-ring-color: initial;
            --tw-ring-shadow: 0 0 #0000;
            --tw-inset-ring-color: initial;
            --tw-inset-ring-shadow: 0 0 #0000;
            --tw-ring-inset: initial;
            --tw-ring-offset-width: 0px;
            --tw-ring-offset-color: #fff;
            --tw-ring-offset-shadow: 0 0 #0000;
            --tw-backdrop-blur: initial;
            --tw-backdrop-brightness: initial;
            --tw-backdrop-contrast: initial;
            --tw-backdrop-grayscale: initial;
            --tw-backdrop-hue-rotate: initial;
            --tw-backdrop-invert: initial;
            --tw-backdrop-opacity: initial;
            --tw-backdrop-saturate: initial;
            --tw-backdrop-sepia: initial;
            --tw-border-style: solid;
            --tw-outline-style: solid;
            --tw-gradient-position: initial;
            --tw-gradient-from: #0000;
            --tw-gradient-via: #0000;
            --tw-gradient-to: #0000;
            --tw-gradient-stops: initial;
            --tw-gradient-via-stops: initial;
            --tw-gradient-from-position: 0%;
            --tw-gradient-via-position: 50%;
            --tw-gradient-to-position: 100%;
            --tw-duration: initial;
            --tw-ease: initial;
            --tw-font-weight: initial;
            --tw-leading: initial;
            --tw-space-y-reverse: 0;
            --tw-space-x-reverse: 0;
            --tw-tracking: initial
        }
    }
}

@layer theme {
    :root, :host {
        --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        --color-red-200: oklch(88.5% .062 18.334);
        --color-red-400: oklch(70.4% .191 22.216);
        --color-red-900: oklch(39.6% .141 25.723);
        --color-green-200: oklch(92.5% .084 155.995);
        --color-green-400: oklch(79.2% .209 151.711);
        --color-green-500: oklch(72.3% .219 149.579);
        --color-green-900: oklch(39.3% .095 152.535);
        --color-teal-300: oklch(85.5% .138 181.071);
        --color-teal-400: oklch(77.7% .152 181.912);
        --color-gray-100: var(--color-zinc-100);
        --color-gray-200: var(--color-zinc-200);
        --color-gray-300: var(--color-zinc-300);
        --color-gray-400: var(--color-zinc-400);
        --color-gray-500: var(--color-zinc-500);
        --color-gray-600: var(--color-zinc-600);
        --color-gray-700: var(--color-zinc-700);
        --color-gray-800: var(--color-zinc-800);
        --color-gray-900: var(--color-zinc-900);
        --color-gray-950: var(--color-zinc-950);
        --color-zinc-50: oklch(98.5% 0 0);
        --color-zinc-100: oklch(96.7% .001 286.375);
        --color-zinc-200: oklch(92% .004 286.32);
        --color-zinc-300: oklch(87.1% .006 286.286);
        --color-zinc-400: oklch(70.5% .015 286.067);
        --color-zinc-500: oklch(55.2% .016 285.938);
        --color-zinc-600: oklch(44.2% .017 285.786);
        --color-zinc-700: oklch(37% .013 285.805);
        --color-zinc-800: oklch(27.4% .006 286.033);
        --color-zinc-900: oklch(21% .006 285.885);
        --color-zinc-950: oklch(14.1% .005 285.823);
        --color-black: #000;
        --color-white: #fff;
        --spacing: .25rem;
        --container-2xl: 42rem;
        --container-3xl: 48rem;
        --container-4xl: 56rem;
        --container-7xl: 80rem;
        --text-xs: .75rem;
        --text-xs--line-height: calc(1 / .75);
        --text-sm: .875rem;
        --text-sm--line-height: calc(1.25 / .875);
        --text-base: 1rem;
        --text-base--line-height: calc(1.5 / 1);
        --text-lg: 1.125rem;
        --text-lg--line-height: calc(1.75 / 1.125);
        --text-xl: 1.25rem;
        --text-xl--line-height: calc(1.75 / 1.25);
        --text-2xl: 1.5rem;
        --text-2xl--line-height: calc(2 / 1.5);
        --text-3xl: 1.875rem;
        --text-3xl--line-height: calc(2.25 / 1.875);
        --text-4xl: 2.25rem;
        --text-4xl--line-height: calc(2.5 / 2.25);
        --text-5xl: 3rem;
        --text-5xl--line-height: 1;
        --font-weight-normal: 400;
        --font-weight-medium: 500;
        --font-weight-semibold: 600;
        --font-weight-bold: 700;
        --tracking-tight: -.025em;
        --leading-relaxed: 1.625;
        --leading-loose: 2;
        --radius-md: .375rem;
        --radius-lg: .5rem;
        --radius-xl: .75rem;
        --radius-2xl: 1rem;
        --radius-3xl: 1.5rem;
        --radius-4xl: 2rem;
        --ease-in-out: cubic-bezier(.4, 0, .2, 1);
        --blur-xs: 4px;
        --blur-md: 12px;
        --default-transition-duration: .15s;
        --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        --default-font-family: var(--font-sans);
        --default-mono-font-family: var(--font-mono)
    }
}

@layer components;

@layer utilities {
    .visible {
        visibility: visible
    }

    .sr-only {
        clip-path: inset(50%);
        white-space: nowrap;
        border-width: 0;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        position: absolute;
        overflow: hidden
    }

    .static {
        position: static
    }

    .block {
        display: block
    }

    .hidden {
        display: none
    }

    .resize {
        resize: both
    }

    .opacity-0 {
        opacity: 0
    }

    .opacity-25 {
        opacity: .25
    }

    .opacity-40 {
        opacity: .4
    }

    .filter {
        filter: var(--tw-blur,) var(--tw-brightness,) var(--tw-contrast,) var(--tw-grayscale,) var(--tw-hue-rotate,) var(--tw-invert,) var(--tw-saturate,) var(--tw-sepia,) var(--tw-drop-shadow,)
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative
}

header {
    top: calc(var(--spacing) * 0);
    z-index: 50;
    background-color: #fffc;
    width: 100%;
    position: sticky;
    font-family: var(--font-sans);

    padding-block: calc(var(--spacing) * 3);
    --tw-shadow: 0 1px var(--tw-shadow-color, #0000000d);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    --tw-backdrop-blur: blur(var(--blur-md));
    -webkit-backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,) var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,) var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,) var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,) var(--tw-backdrop-sepia,);
    backdrop-filter: var(--tw-backdrop-blur,) var(--tw-backdrop-brightness,) var(--tw-backdrop-contrast,) var(--tw-backdrop-grayscale,) var(--tw-backdrop-hue-rotate,) var(--tw-backdrop-invert,) var(--tw-backdrop-opacity,) var(--tw-backdrop-saturate,) var(--tw-backdrop-sepia,)
}

@supports (color:color-mix(in lab, red, red)) {
    header {
        background-color: color-mix(in oklab, var(--color-white) 80%, transparent)
    }
}

header:where(.dark,.dark *) {
    background-color: oklab(24.2643% .00402537 -.0554365/.5)
}

header a,
header a:link,
header a:visited {
    border: 0;
    color: var(--color-gray-800);
}

header a:where(.dark,.dark *),
header a:link:where(.dark,.dark *),
header a:visited:where(.dark,.dark *) {
    color: #ffffff;
}

header nav {
    width: auto;
    max-width: var(--container-7xl);
    padding-inline: calc(var(--spacing) * 6);
    margin-inline: auto;
    display: flex;
    position: relative
}

@media (min-width: 64rem) {
    header nav {
        width: 100%;
        padding-inline: calc(var(--spacing) * 8)
    }
}

.header-logo {
    margin-right: calc(var(--spacing) * 6)
}

.header-logo svg {
    height: calc(var(--spacing) * 10);
    color: #6b58ff;
    display: inline-block
}

.header-logo svg:where(.dark,.dark *) {
    color: var(--color-white)
}

.header-menu-container {
    margin-top: calc(var(--spacing) * 16);
    margin-left: calc(var(--spacing) * -26);
    border-top-style: var(--tw-border-style);
    border-top-width: 1px;
    border-color: var(--color-gray-200);
    padding-top: calc(var(--spacing) * 5);
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    display: none
}

@media (min-width: 64rem) {
    .header-menu-container {
        margin-top: calc(var(--spacing) * 0);
        margin-left: calc(var(--spacing) * 0);
        border-style: var(--tw-border-style);
        padding-top: calc(var(--spacing) * 0);
        border-width: 0;
        flex-direction: row;
        display: flex
    }
}

.header-menu-container:where(.dark,.dark *) {
    border-color: #ffffff1a
}

@supports (color:color-mix(in lab, red, red)) {
    .header-menu-container:where(.dark,.dark *) {
        border-color: color-mix(in oklab, var(--color-white) 10%, transparent)
    }
}

.header-menu-container .select {
    width: auto;
}

.header-menu {
    margin-bottom: calc(var(--spacing) * 5);
    gap: calc(var(--spacing) * 6);
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    flex-direction: column;
    display: flex
}

@media (min-width: 64rem) {
    .header-menu {
        margin-bottom: calc(var(--spacing) * 0);
        flex-direction: row;
        align-items: center
    }
}

.header-menu a {
    text-decoration-line: none
}

@media (hover: hover) {
    .header-menu a:hover {
        text-decoration-line: underline
    }
}

.header-actions {
    gap: calc(var(--spacing) * 5);
    padding-bottom: calc(var(--spacing) * 4);
    flex-direction: column;
    flex: 1;
    display: flex
}

@media (min-width: 64rem) {
    .header-actions {
        justify-content: flex-end;
        gap: calc(var(--spacing) * 3);
        padding-bottom: calc(var(--spacing) * 0);
        flex-direction: row
    }
}

.header-button-search {
    height: calc(var(--spacing) * 9);
    cursor: pointer;
    border-radius: var(--radius-xl);
    background-color: #fffc;
    flex-shrink: 0;
    align-items: center;
    display: flex
}

@supports (color:color-mix(in lab, red, red)) {
    .header-button-search {
        background-color: color-mix(in oklab, var(--color-white) 80%, transparent)
    }
}

.header-button-search {
    padding-inline: calc(var(--spacing) * 2.5);
    font-size: var(--text-base);
    line-height: var(--tw-leading, var(--text-base--line-height));
    white-space: nowrap;
    color: var(--color-gray-500);
    outline-style: var(--tw-outline-style);
    outline-offset: calc(1px * -1);
    outline-width: 1px;
    outline-color: var(--color-gray-300);
    border: 0;
}

.header-button-search:focus {
    --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    --tw-ring-color: #09090b0d
}

@supports (color:color-mix(in lab, red, red)) {
    .header-button-search:focus {
        --tw-ring-color: color-mix(in oklab, var(--color-gray-950) 5%, transparent)
    }
}

@media (min-width: 40rem) {
    .header-button-search {
        font-size: var(--text-sm);
        line-height: calc(var(--spacing) * 6)
    }
}

@media (min-width: 64rem) {
    .header-button-search {
        width: calc(var(--spacing) * 60)
    }

    @media (hover: hover) {
        .header-button-search:hover {
            --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
            box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
            --tw-ring-color: #09090b0d
        }

        @supports (color:color-mix(in lab, red, red)) {
            .header-button-search:hover {
                --tw-ring-color: color-mix(in oklab, var(--color-gray-950) 5%, transparent)
            }
        }
    }
}

.header-button-search:where(.dark,.dark *) {
    background-color: #ffffff0d
}

@supports (color:color-mix(in lab, red, red)) {
    .header-button-search:where(.dark,.dark *) {
        background-color: color-mix(in oklab, var(--color-white) 5%, transparent)
    }
}

.header-button-search:where(.dark,.dark *) {
    color: var(--color-white);
    outline-color: #ffffff1a
}

@supports (color:color-mix(in lab, red, red)) {
    .header-button-search:where(.dark,.dark *) {
        outline-color: color-mix(in oklab, var(--color-white) 10%, transparent)
    }
}

.header-button-search:where(.dark,.dark *):focus {
    --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    --tw-ring-color: #ffffff0d
}

@supports (color:color-mix(in lab, red, red)) {
    .header-button-search:where(.dark,.dark *):focus {
        --tw-ring-color: color-mix(in oklab, var(--color-white) 5%, transparent)
    }
}

@media (min-width: 64rem) {
    @media (hover: hover) {
        .header-button-search:where(.dark,.dark *):hover {
            --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
            box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
            --tw-ring-color: #ffffff0d
        }

        @supports (color:color-mix(in lab, red, red)) {
            .header-button-search:where(.dark,.dark *):hover {
                --tw-ring-color: color-mix(in oklab, var(--color-white) 5%, transparent)
            }
        }
    }
}

.header-button-search svg {
    margin-right: calc(var(--spacing) * 2);
    width: calc(var(--spacing) * 4.5);
    height: calc(var(--spacing) * 4.5);
    flex-shrink: 0
}

.header-button-search kbd {
    margin-right: calc(var(--spacing) * .5);
    font-family: var(--font-sans);
    font-size: var(--text-xs);
    line-height: var(--tw-leading, var(--text-xs--line-height));
    color: var(--color-gray-500);
    margin-left: auto
}

.header-button-search kbd:where(.dark,.dark *) {
    color: #fff6
}

@supports (color:color-mix(in lab, red, red)) {
    .header-button-search kbd:where(.dark,.dark *) {
        color: color-mix(in oklab, var(--color-white) 40%, transparent)
    }
}

.header-languages {
    grid-template-columns:repeat(1, minmax(0, 1fr));
    width: 100%;
    display: inline-grid
}

.header-light-dark-mode-button {
    width: calc(var(--spacing) * 9);
    height: calc(var(--spacing) * 9);
    cursor: pointer;
    border-radius: var(--radius-xl);
    background-color: #fffc;
    align-items: center;
    display: flex
}

@supports (color:color-mix(in lab, red, red)) {
    .header-light-dark-mode-button {
        background-color: color-mix(in oklab, var(--color-white) 80%, transparent)
    }
}

.header-light-dark-mode-button {
    padding-inline: calc(var(--spacing) * 2.5);
    color: var(--color-gray-500);
    outline-style: var(--tw-outline-style);
    outline-offset: calc(1px * -1);
    outline-width: 1px;
    outline-color: var(--color-gray-300);
    border: 0;
}

.header-light-dark-mode-button:focus {
    --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    --tw-ring-color: #09090b0d
}

@supports (color:color-mix(in lab, red, red)) {
    .header-light-dark-mode-button:focus {
        --tw-ring-color: color-mix(in oklab, var(--color-gray-950) 5%, transparent)
    }
}

@media (min-width: 64rem) {
    @media (hover: hover) {
        .header-light-dark-mode-button:hover {
            --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
            box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
            --tw-ring-color: #09090b0d
        }

        @supports (color:color-mix(in lab, red, red)) {
            .header-light-dark-mode-button:hover {
                --tw-ring-color: color-mix(in oklab, var(--color-gray-950) 5%, transparent)
            }
        }
    }
}

.header-light-dark-mode-button:where(.dark,.dark *) {
    background-color: #ffffff0d
}

@supports (color:color-mix(in lab, red, red)) {
    .header-light-dark-mode-button:where(.dark,.dark *) {
        background-color: color-mix(in oklab, var(--color-white) 5%, transparent)
    }
}

.header-light-dark-mode-button:where(.dark,.dark *) {
    color: var(--color-white);
    outline-color: #ffffff1a
}

@supports (color:color-mix(in lab, red, red)) {
    .header-light-dark-mode-button:where(.dark,.dark *) {
        outline-color: color-mix(in oklab, var(--color-white) 10%, transparent)
    }
}

.header-light-dark-mode-button:where(.dark,.dark *):focus {
    --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    --tw-ring-color: #ffffff0d
}

@supports (color:color-mix(in lab, red, red)) {
    .header-light-dark-mode-button:where(.dark,.dark *):focus {
        --tw-ring-color: color-mix(in oklab, var(--color-white) 5%, transparent)
    }
}

@media (min-width: 64rem) {
    @media (hover: hover) {
        .header-light-dark-mode-button:where(.dark,.dark *):hover {
            --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
            box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
            --tw-ring-color: #ffffff0d
        }

        @supports (color:color-mix(in lab, red, red)) {
            .header-light-dark-mode-button:where(.dark,.dark *):hover {
                --tw-ring-color: color-mix(in oklab, var(--color-white) 5%, transparent)
            }
        }
    }
}

.header-mobile-menu-button-container {
    right: calc(var(--spacing) * 6);
    flex-shrink: 0;
    position: absolute
}

@media (min-width: 64rem) {
    .header-mobile-menu-button-container {
        display: none
    }
}

#mobile-menu-button {
    width: calc(var(--spacing) * 10);
    height: calc(var(--spacing) * 10);
    border-radius: var(--radius-xl);
    padding: calc(var(--spacing) * 2);
    color: var(--color-gray-900);
    --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    --tw-ring-color: var(--color-gray-300);
    background-color: #0000;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    border: 0;
}

#mobile-menu-button:focus-visible {
    outline-style: var(--tw-outline-style);
    outline-width: 2px;
    outline-color: var(--color-white)
}

#mobile-menu-button:where(.dark,.dark *) {
    color: var(--color-white);
    --tw-ring-color: #ffffff26
}

@supports (color:color-mix(in lab, red, red)) {
    #mobile-menu-button:where(.dark,.dark *) {
        --tw-ring-color: color-mix(in oklab, var(--color-white) 15%, transparent)
    }
}

#mobile-menu-button svg {
    width: calc(var(--spacing) * 6);
    height: calc(var(--spacing) * 6)
}

.select {
    grid-template-columns:repeat(1, minmax(0, 1fr));
    display: inline-grid
}

.select select {
    height: calc(var(--spacing) * 9);
    appearance: none;
    border-radius: var(--radius-xl);
    background-color: #fffc;
    grid-row-start: 1;
    grid-column-start: 1;
    width: 100%
}

@supports (color:color-mix(in lab, red, red)) {
    .select select {
        background-color: color-mix(in oklab, var(--color-white) 80%, transparent)
    }
}

.select select {
    padding-right: calc(var(--spacing) * 6);
    padding-left: calc(var(--spacing) * 3);
    font-size: var(--text-base);
    line-height: var(--tw-leading, var(--text-base--line-height));
    color: var(--color-gray-900);
    outline-style: var(--tw-outline-style);
    outline-offset: calc(1px * -1);
    outline-width: 1px;
    outline-color: var(--color-gray-300)
}

.select select:focus {
    --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    --tw-ring-color: #09090b0d
}

@supports (color:color-mix(in lab, red, red)) {
    .select select:focus {
        --tw-ring-color: color-mix(in oklab, var(--color-gray-950) 5%, transparent)
    }
}

@media (min-width: 40rem) {
    .select select {
        font-size: var(--text-sm);
        line-height: calc(var(--spacing) * 6)
    }
}

@media (min-width: 64rem) {
    @media (hover: hover) {
        .select select:hover {
            --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
            box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
            --tw-ring-color: #09090b0d
        }

        @supports (color:color-mix(in lab, red, red)) {
            .select select:hover {
                --tw-ring-color: color-mix(in oklab, var(--color-gray-950) 5%, transparent)
            }
        }
    }
}

.select select:where(.dark,.dark *) {
    background-color: #ffffff0d
}

@supports (color:color-mix(in lab, red, red)) {
    .select select:where(.dark,.dark *) {
        background-color: color-mix(in oklab, var(--color-white) 5%, transparent)
    }
}

.select select:where(.dark,.dark *) {
    color: var(--color-white);
    outline-color: #ffffff1a
}

@supports (color:color-mix(in lab, red, red)) {
    .select select:where(.dark,.dark *) {
        outline-color: color-mix(in oklab, var(--color-white) 10%, transparent)
    }
}

:is(.select select:where(.dark,.dark *)>*) {
    background-color: var(--color-gray-800)
}

.select select:where(.dark,.dark *):focus {
    --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    --tw-ring-color: #ffffff0d
}

@supports (color:color-mix(in lab, red, red)) {
    .select select:where(.dark,.dark *):focus {
        --tw-ring-color: color-mix(in oklab, var(--color-white) 5%, transparent)
    }
}

@media (min-width: 64rem) {
    @media (hover: hover) {
        .select select:where(.dark,.dark *):hover {
            --tw-ring-shadow: var(--tw-ring-inset,) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
            box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
            --tw-ring-color: #ffffff0d
        }

        @supports (color:color-mix(in lab, red, red)) {
            .select select:where(.dark,.dark *):hover {
                --tw-ring-color: color-mix(in oklab, var(--color-white) 5%, transparent)
            }
        }
    }
}

.select svg {
    pointer-events: none;
    margin-right: calc(var(--spacing) * 2);
    width: calc(var(--spacing) * 5);
    height: calc(var(--spacing) * 5);
    color: var(--color-gray-500);
    grid-row-start: 1;
    grid-column-start: 1;
    place-self: center flex-end
}

@media (min-width: 40rem) {
    .select svg {
        width: calc(var(--spacing) * 4);
        height: calc(var(--spacing) * 4)
    }
}

.select svg:where(.dark,.dark *) {
    color: var(--color-gray-400)
}

footer {
    isolation: isolate;
    z-index: 10;
    border-top-style: var(--tw-border-style);
    border-color: #0000000d;
    border-top-width: 1px;
    position: relative;
    background-color: var(--color-white);

    font-family: var(--font-sans);
    color: var(--color-gray-800);
}

@supports (color:color-mix(in lab, red, red)) {
    footer {
        border-color: color-mix(in oklab, var(--color-black) 5%, transparent)
    }
}

footer:where(.dark,.dark *) {
    border-color: #ffffff08;
    background-color: #21274d;
}

footer a,
footer a:link,
footer a:visited {
    text-underline-offset: 2px;
    text-decoration-line: underline;
    color: var(--color-gray-600);
    border-bottom: 0;
}

footer a:where(.dark,.dark *),
footer a:link:where(.dark,.dark *),
footer a:visited:where(.dark,.dark *) {
    text-underline-offset: 2px;
    text-decoration-line: underline;
    color: color-mix(in oklab, var(--color-white) 80%, transparent);
}

@media (hover: hover) {
    footer a:hover {
        text-decoration-line: none
    }
}

@supports (color:color-mix(in lab, red, red)) {
    footer:where(.dark,.dark *) {
        border-color: color-mix(in oklab, var(--color-white) 3%, transparent)
    }
}

footer p {
    font-size: var(--text-sm);
    line-height: calc(var(--spacing) * 6);
    text-wrap: balance;
    color: var(--color-gray-600)
}

footer p:where(.dark,.dark *) {
    color: #fffc
}

@supports (color:color-mix(in lab, red, red)) {
    footer p:where(.dark,.dark *) {
        color: color-mix(in oklab, var(--color-white) 80%, transparent)
    }
}

.social-icons {
    column-gap: calc(var(--spacing) * 6);
    display: flex
}

.social-icons a {
    color: var(--color-gray-600)
}

@media (hover: hover) {
    .social-icons a:hover {
        color: var(--color-gray-800)
    }
}

.social-icons a:where(.dark,.dark *) {
    color: #fffc
}

@supports (color:color-mix(in lab, red, red)) {
    .social-icons a:where(.dark,.dark *) {
        color: color-mix(in oklab, var(--color-white) 80%, transparent)
    }
}

@media (hover: hover) {
    .social-icons a:where(.dark,.dark *):hover {
        color: var(--color-white)
    }
}

.social-icons svg {
    width: calc(var(--spacing) * 6);
    height: calc(var(--spacing) * 6)
}

.footer-logo {
    height: calc(var(--spacing) * 10);
    display: inline-block
}

.footer-logo svg {
    height: calc(var(--spacing) * 10);
    color: var(--color-gray-800);
    display: inline-block
}

.footer-logo svg:where(.dark,.dark *) {
    color: var(--color-white)
}

.footer-container {
    max-width: var(--container-7xl);
    padding-inline: calc(var(--spacing) * 4);
    padding-top: calc(var(--spacing) * 16);
    padding-bottom: calc(var(--spacing) * 8);
    margin-inline: auto
}

@media (min-width: 40rem) {
    .footer-container {
        padding-top: calc(var(--spacing) * 24)
    }
}

@media (min-width: 64rem) {
    .footer-container {
        padding-inline: calc(var(--spacing) * 8);
        padding-top: calc(var(--spacing) * 28)
    }
}

@media (min-width: 80rem) {
    .footer-grid {
        gap: calc(var(--spacing) * 8);
        grid-template-columns:repeat(3, minmax(0, 1fr));
        display: grid
    }
}

:where(.footer-grid>div>:not(:last-child)) {
    --tw-space-y-reverse: 0;
    margin-block-start: calc(calc(var(--spacing) * 8) * var(--tw-space-y-reverse));
    margin-block-end: calc(calc(var(--spacing) * 8) * calc(1 - var(--tw-space-y-reverse)))
}

.footer-links-container {
    margin-top: calc(var(--spacing) * 16);
    gap: calc(var(--spacing) * 8);
    grid-template-columns:repeat(2, minmax(0, 1fr));
    display: grid
}

@media (min-width: 80rem) {
    .footer-links-container {
        margin-top: calc(var(--spacing) * 0);
        grid-column: span 2/span 2
    }
}

@media (min-width: 48rem) {
    .footer-links-grid {
        gap: calc(var(--spacing) * 8);
        grid-template-columns:repeat(2, minmax(0, 1fr));
        display: grid
    }
}

.footer-links-grid h3 {
    font-size: var(--text-sm);
    line-height: calc(var(--spacing) * 6);
    --tw-font-weight: var(--font-weight-semibold);
    font-weight: var(--font-weight-semibold);
    color: var(--color-gray-900)
}

.footer-links-grid h3:after {
    display: none;
}

.footer-links-grid h3:where(.dark,.dark *) {
    color: var(--color-white)
}

.footer-links-grid ul {
    margin: calc(var(--spacing) * 6) 0 0 0;
    list-style: none;
    padding: 0;
}

:where(.footer-links-grid ul>:not(:last-child)) {
    --tw-space-y-reverse: 0;
    margin-block-start: calc(calc(var(--spacing) * 4) * var(--tw-space-y-reverse));
    margin-block-end: calc(calc(var(--spacing) * 4) * calc(1 - var(--tw-space-y-reverse)))
}

.footer-links-grid ul li {
    line-height: initial;
}

.footer-links-grid a {
    font-size: var(--text-sm);
    line-height: calc(var(--spacing) * 6);
    color: var(--color-gray-600)
}

@media (hover: hover) {
    .footer-links-grid a:hover {
        color: var(--color-gray-900)
    }
}

.footer-links-grid a:where(.dark,.dark *) {
    color: #fffc
}

@supports (color:color-mix(in lab, red, red)) {
    .footer-links-grid a:where(.dark,.dark *) {
        color: color-mix(in oklab, var(--color-white) 80%, transparent)
    }
}

@media (hover: hover) {
    .footer-links-grid a:where(.dark,.dark *):hover {
        color: var(--color-white)
    }
}

.footer-links-grid div:first-of-type {
    margin-bottom: calc(var(--spacing) * 10)
}

@media (min-width: 48rem) {
    .footer-links-grid div:first-of-type {
        margin-bottom: calc(var(--spacing) * 0)
    }
}

.footer-credits {
    margin-top: calc(var(--spacing) * 0);
    border-top-style: var(--tw-border-style);
    border-color: #18181b1a;
    border-top-width: 1px
}

@supports (color:color-mix(in lab, red, red)) {
    .footer-credits {
        border-color: color-mix(in oklab, var(--color-gray-900) 10%, transparent)
    }
}

.footer-credits {
    padding-top: calc(var(--spacing) * 8)
}

@media (min-width: 40rem) {
    .footer-credits {
        margin-top: calc(var(--spacing) * 20)
    }
}

@media (min-width: 64rem) {
    .footer-credits {
        margin-top: calc(var(--spacing) * 24)
    }
}

.footer-credits:where(.dark,.dark *) {
    border-color: #ffffff1a
}

@supports (color:color-mix(in lab, red, red)) {
    .footer-credits:where(.dark,.dark *) {
        border-color: color-mix(in oklab, var(--color-white) 10%, transparent)
    }
}

.footer-credits p {
    font-size: var(--text-sm);
    line-height: calc(var(--spacing) * 6);
    color: var(--color-gray-600)
}

.footer-credits p:where(.dark,.dark *) {
    color: #fffc
}

@supports (color:color-mix(in lab, red, red)) {
    .footer-credits p:where(.dark,.dark *) {
        color: color-mix(in oklab, var(--color-white) 80%, transparent)
    }
}

footer a.button-primary {
    min-height: calc(var(--spacing) * 10);
    cursor: pointer;
    width: auto;
    padding-inline: calc(var(--spacing) * 5);
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    --tw-font-weight: var(--font-weight-semibold);
    font-weight: var(--font-weight-semibold);
    color: var(--color-white);
    background-color: #6b58ff;
    border-radius: calc(infinity * 1px);
    justify-content: center;
    align-items: center;
    text-decoration-line: none;
    display: inline-flex;
    position: relative;
    overflow: hidden
}

@media (hover: hover) {
    footer a.button-primary:hover {
        background-color: oklab(57.9656% .0459944 -.232052 / .9);
        color: var(--color-white);
    }
}

footer a.button-primary:focus-visible {
    outline-style: var(--tw-outline-style);
    outline-offset: 2px;
    outline-width: 2px;
    outline-color: var(--color-gray-800)
}

footer a.button-primary:disabled {
    pointer-events: none;
    opacity: .9
}
