/* Changelog pages. */
section.version {
    border-top: solid 0.1875em #99C;
    margin: .75em 0;
    padding: .75em 0;
}

section.version > :last-child {
    margin-bottom:0;
}

section.version b {
    /* Not entirely clear how <b> became the enclosing element for dates, but
     * whatever. We'll use the same styling as dates in the news archive,
     * except without the dotted border (since they're not actual <abbr>
     * elements). */
    color: #666;
    display: inline-block;
    font-size: 0.75em;
    font-weight: normal;
    line-height: 2;
}
