/* vim: set et ts=4 sw=4 fdm=marker: : */


/* {{{ The Quick TOC reference top on man pages */
aside#quicktoc {
    display: block;
    border-top: 1px solid #9999CC;
    border-left: 1px solid #9999CC;
    border-bottom: none;
    margin: 0 0 20px 20px;
    width: 160px;
    background: white;
    position: fixed;
    right: 0px;
    z-index: 100;
}

#quicktoc .content, #quicktoc .language {
    padding: 10px 0 10px 10px;
}

#quicktoc .links, #quicktoc .content {
}

#quicktoc .links a:first-child {
    border-top: 1px solid #9F8A8A;
}

#quicktoc .links a {
    display: block;
    color: black;
    padding-left: 5px;
    border-bottom: 1px solid #9F8A8A;
    background-color: #F3F3F3;
}

#quicktoc .links a:hover {
    background-color: #F2E5F4;
}

/* }}} */


.docs .refsect1 > p:last-child,
.docs .refsect1 > .warning:last-child,
.docs .refsect1 > .note:last-child,
.docs .refsect1 > .tip:last-child {
    margin-bottom:0;
}

.docs .refsect1 > .title + * {
    margin-top:0;
}

.docs .classsynopsis:before,
.docs div.refsect1:before,
.docs div.warning:before {
    content:" ";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
/* {{{ General styles (p, parameters, initializers, ...) */
.docs .methodname b, .docs .methodname strong {
    color: #000;
}

.docs .refsect1 .methodparam .parameter {
    cursor:pointer;
}
.docs .refsect1 dt {
    height:1.5em;
}

.docs .parameter {
    color: #336;
    font-weight: bold;
    font-size:1em;
}
.docs .classsynopsis .parameter {
    font-size:1.167em;
}

.docs i .parameter, .docs em .parameter {
    font-style: normal;
}

/* }}} */


/* {{{ Warning and notes */
.docs div.caution,
.docs blockquote.note {
    padding: .75em 1.5em;
    margin: .75em 0;
}

.docs .refsect1 div.caution,
.docs .refsect1 blockquote.note {
    margin-left:0;
    margin-right:0;
}

.docs blockquote.note {
    background-color: #EFEFEF;
}
.docs div.tip {
    border-top: 3px solid #9999EE;
    background-color: #EFEFEF;
}

.docs div.caution {
    border-top: 3px solid #FFFFCC;
    background-color: #EFEFEF;
}
.docs blockquote.note,
.docs div.caution {
    font-size: 1em;
    margin-right: 0.8em;
}
.docs div.tip b.tip,
.docs div.warning b.warning,
.docs div.tip strong.tip,
.docs div.warning strong.warning {
    font-size: 1.5em;
    line-height: 2;
    display:block;
    text-align: center;
}

.docs div.tip p,
.docs div.warning p {
    padding-left: 1em;
    text-align: left;
}

.docs div.warning div.example-contents {
    padding-left: 60px;
}

.docs div.caution b.caution, .docs div.caution strong.caution {
    float: left;
    margin-right: 0.8em;
}
.docs blockquote.note p,
.docs div.warning p,
.docs div.caution p,
.docs div.tip p {
    margin: 0;
}

.docs div.tip,
.docs div.warning {
    position: relative;
    z-index:10;
    margin: 1.5em 0;
    padding: 0 .75em .75em 92px;
    min-height: 96px;
    background-position: 16px;
}
.docs div.tip:before,
.docs div.warning:before {
    z-index:-1;
    top:-.25em;
    border-top:.25em solid;
}
.docs div.warning {
    background: #f2e5f4 url('/images/dialog-warning.png') left center no-repeat;
}
.docs div.warning:before {
    border-color:#9f8a8a;
}
.docs div.tip {
    background: #efefef url('/images/dialog-information.png') left center no-repeat;
}
.docs div.tip:before {
    border-color:#99e;
}

.docs div.warning h1{
    font-size: 1.4em;
}
/* }}} */

.docs .refentry .constructorsynopsis,
.docs .refentry .methodsynopsis {
    color: #666;
    font-family: monospace;
    font-size:1.230769em; /* bumps it back up to the rest of the fonts because monospace is smaller */
    margin:-1px 0;
}

/* {{{ Parameter listing */
.docs .refentry .parameters dl {
    margin-bottom:0;
}

.docs dl dd + dt {
    margin-top:1.5em;
}

.docs .refentry .parameters dl dt code.parameter {
    font-size:1.23076em;
}
.docs .refentry .parameters .title + p.para + dl,
.docs .refsect1.examples .title + p.para + *,
.docs .refsect1.seealso .title + p.para + * {
    margin-top:-1.5em; /* there's a p tag that has whitespace (not :empty). This simply covers it up */
}

.docs .rdfs-comment .parameter {
    font-size: 1.3em;
}

/* }}} */



/* {{{ Examples (highlighting is in theme.css) */
.docs .example-contents .phpcode code,
.docs .refentry .methodsynopsis,
.docs .example-contents.screen,
.docs .refentry .methodsynopsis,
.docs .refentry .constructorsynopsis {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: .75em;
}
.docs .example-contents .phpcode code {
    padding:1em;
}

.docs .note .phpcode code {
    font-size: 1.0em !important;
}

.docs .phpcode code {
    font-size:.923em;
    line-height: 2;
    display: block;
    margin:-1px 0;
}

.docs .refsect1.examples {
    border-top: 0.2em solid #669;
}

/* }}} */


/* {{{ Tables */
.docs th {
    text-align: left;
}

.docs td, .docs th {
    padding: 2px 5px;
}

.docs .doctable tbody tr:nth-child(even) {
    background-color: #EFEFEF;
}

.docs .doctable {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    width: 100%;
}

.docs .doctable th {
    background-color: #99C;
    text-align: center;
    color: #333;
    border-bottom: 1px solid #CCCCCC;
}
.docs .doctable td, .docs .doctable th {
    border-right: 1px solid #CCCCCC;
}
.docs .doctable td:last-child, .docs .doctable th:last-child {
    border-right: 0px;
}
/* }}} */

/* {{{ lists */
ul.itemizedlist {
    list-style-type: circle;
}
ul.simplelist
{
    list-style-type: disc;
}
ul.chunklist {
    list-style-type: disc;
}
.docs ol {
    list-style-type: decimal;
}
dl.qandaentry {
    border-top: 1px solid #000;
}

ul.chunklist_children {
    margin-top:0;
}
/* }}} */

.docs div.sect1, .docs div.partintro {
    position: relative;
}

.docs p.verinfo {
    position: absolute;
    right:0px;
    top: 0px;
    color: #777;
}

.docs h1.refname,
.docs p.refpurpose {
    color: #444;
}
.docs .refnamediv {
    position:relative;
}
.docs div.refsect1 h3.title {
    color: #444;
    position: absolute;
    top:-2em;
    left: 0;
}

.docs .refsect1 {
    margin-top: 3em;
    color: #444;
    border-top: 0.2em solid #669;
}

.docs .classsynopsis,
.docs div.refsect1 {
    position: relative;
    background-color: #f5f5f5;
    padding: .75em;
}

.docs .classsynopsis:before,
.docs div.refsect1:before {
    top:-.25em;
    border-top: .25em solid #cacaca;
    z-index: -1;
}
.docs .classsynopsis {
    color: #454e55;
}
.docs .fieldsynopsis .type,
.docs .methodsynopsis .type,
.docs .constructorsynopsis .type {
    color:#606;
}
.docs .classsynopsis .classname,
.docs .fieldsynopsis .modifier,
.docs .methodsynopsis .modifier,
.docs .constructorsynopsis .modifier {
    color:#0000ae;
}

.docs .classsynopsis .initializer {
    font-style:italic;
}
.docs .classsynopsisinfo_comment {
    color:#999;
    font-weight:normal;
}

.classsynopsisinfo_comment,
.classsynopsis .constructorsynopsis,
.classsynopsis .methodsynopsis,
.classsynopsis .destructorsynopsis,
.classsynopsis .fieldsynopsis {
    margin-left:2em;
}
.docs .classsynopsis a,
.docs .fieldsynopsis a,
.docs .methodsynopsis a,
.docs .constructorsynopsis a {
    color:#267B0C;
}

#changelang {
    border: 0;
}


/* - Side Menu - */
.docs .layout-menu {
    width: 17em;
}

.docs .layout-menu ul.parent-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.docs .layout-menu ul.parent-menu-list li {
    margin: .75em 0;
}

.docs .layout-menu ul.parent-menu-list > li:first-child {
    margin-top:0;
}
.docs .layout-menu ul.parent-menu-list a {
    color: #444;
    margin: 0;
    padding:0 0 0 .5em;
    border: 0;
    border-left: .25em solid #7F7FB2;
}

.docs .layout-menu ul.parent-menu-list a:hover,
.docs .layout-menu ul.parent-menu-list li:last-child a {
    color: #000;
    border-left: .25em solid #666699;
}

.docs .layout-menu ul.child-menu-list {
    margin: 0;
    padding:.75em 0 .75em .25em;
    border: 0;
}

.docs .layout-menu ul.child-menu-list li {
    list-style-type: none;
    margin: 0 0 -1px .5em;
    padding:0;
    border: 0;
    border-bottom: 1px dotted #aaa;
}

.docs .layout-menu ul.child-menu-list a {
    font-size: .75em;
    line-height: 2;
    color: black;
    overflow: visible;
}

.docs .layout-menu ul.child-menu-list .current a:before {
    content:"\bb \20";
}

body.docs #layout {
    min-width:45em;
    width:auto;
    padding:0 3em 0 1.5em;
}

.docs .layout-menu ul.child-menu-list a:hover,
.docs .layout-menu ul.parent-menu-list li:last-child ul.child-menu-list a {
    border-left: 0;
}

/* #layout needed, see http://news.php.net/php.webmaster/11884 */
.docs #layout .layout-content,
.docs #layout #usernotes {
    margin-left: 19em;
}
.docs #usernotes {
    margin-top:2em;
}


#changelang-langs {
    width:120px; 
    font-size:12px;
    margin-right: 6px;
}

.docs .sect2 {
    margin-top: 12px;
}

.docs .manualnavbar {
    display: block;
    background-color: #f5f5f5;
    padding: 12px;
    margin-bottom: 12px;
    text-decoration: none;
}

.docs .manualnavbar .prev {
    float: left;
    display: block;
    font-size: 1.3em;
    border-bottom: none;
}

.docs .manualnavbar .next {
    float: right;
    display: block;
    font-size: 1.3em;
    border-bottom: none;
}

/* Soft-deprecation Notices */
div.soft-deprecation-notice h1.title {
    border: 0;
    color: #454e55;
    position: absolute;
    padding: 0;
    margin:0;
    line-height: 1em;
    top:-22px;
    left: 0;
    font-size: 1.4em;
    font-weight: bold;
}
div.soft-deprecation-notice {
    position: relative;
    margin-top: 50px;
    border: 1px solid #AA6666;
    color: #fff;
    background-color: #ffeeee;
    z-index: 100;
}
div.soft-deprecation-notice blockquote.sidebar {
    padding: 10px;
    margin: 0px;
    border: 0px solid #666600;
    color: #660000;
}
