/* vim: set et ts=4 sw=4 fdm=marker: : */

.refsect1 > *:last-child {
    margin-bottom:0;
}
.refsect1 > *:last-child *:last-child {
    margin-bottom:0;
}

.refsect1 > .title + * {
    margin-top:0;
}

/* {{{ General styles (p, parameters, initializers, ...) */
.docs .methodname b,
.docs .methodname strong,
.docs .methodname a,
.docs .classsynopsis .classname {
    color: #369;
}

.refsect1 .parameter {
    cursor:pointer;
}
.refsect1 dt {
    height:1.5em;
}

.docs .parameter {
    color: #369;
}
.refsect1 code.parameter {
    font-weight:bold;
}
.docs code.parameter {
    font-size:1em;
}
.docs .methodname strong {
    font-style:normal;
    font-weight:normal;
}
.docs .initializer,
.docs .initializer code {
    font-style:italic !important;
    color:#936;
}
/* }}} */


/* {{{ Warning and notes */

div.tip,
div.warning,
div.caution,
blockquote.note {
    padding:.375em .5em;
    position:relative;
    margin-top:.75em;
    margin-bottom:.75em;
}

div.tip {
    background:#ECF2F9;
    border:1px solid #CDDEEE;
    border-bottom-color:#C6D9EC;
}

blockquote.note {
    background-color: #eee;
    border:1px solid #d5d5d5;
}

div.caution {
    background: #fcfce9;
    border: 1px solid #e2e2d1;
}

.refsect1 blockquote.note {
    margin-left:0;
    background:#fff;
    border: 1px solid #e5e6e9;
}

div.warning {
    background:#f9ecf2;
    border:1px solid #eecdde;
}

div.warning a:link,
div.warning a:visited {
    color:#936;
}

div.warning strong.warning {
    font-size: 1.5em;
    display:block;
    text-align: center;
}

div.tip b.tip,
div.tip strong.tip,
div.caution b.caution,
div.caution strong.caution {
    float: left;
    margin-right: 0.5em;
}
blockquote.note p,
div.caution p,
div.warning p,
div.tip p {
    margin: 0;
}

div.tip:before,
div.caution:before,
blockquote.note:before,
div.warning:before {
    border-top:1px solid rgba(255,255,255,0.5);
    content:"";
    display:block;
    top:0;
    left:0;
    width:100%;
    position:absolute;
}

/* }}} */

.refsect1 .dc-description,
.refsect1 .dc-description code,
.docs .sect1 .dc-description,
.docs .sect1 .dc-description code {
    font-weight:400;
    font-size:16px;
    font-family:"Source Code Pro", monospace;
    letter-spacing:-.0625em;
    word-spacing:-.125em;
    margin:0;
}
.docs .dc-description {
    color:#737373;
}

/* {{{ Parameter listing */
.docs .refentry .parameters dl {
    margin-bottom:0;
}

.docs dl dd + dt {
    margin-top:.75em;
}

/* }}} */

.docs .example {
    margin: .75em 0;
}

/* {{{ Examples (highlighting is in theme.css) */

.docs .example-contents {
    margin-bottom:.75em;
}
.docs .example-contents pre {
    margin:0;
}
.docs .example-contents > [class$="code"],
.docs .example-contents.screen {
    background-color: #fff;
    padding: .75em .625em;
    border:1px solid #d6d6d6;
}
.refsect1 .example-contents > [class$="code"],
.refsect1 .example-contents.screen {
    border-top-color: #cdcdcd;
}
.refsect1 .dc-description,
.docs .sect1 .dc-description {
    background:#fff;
    padding: .5em .75em .625em;
    border: 1px solid #e0e0e0;
    border-top-color:#d9d9d9;
    margin-bottom: .75em;
}

.docs .phpcode code {
    display: block;
    margin:-1px 0;
}

/* }}} */


/* {{{ Tables */
.docs th {
    text-align: left;
}

.docs td,
.docs th {
    padding: .25em .5em;
}

.docs .doctable tbody tr:nth-child(odd) {
    background-color: #ffffff;
}
.docs .doctable tbody tr:nth-child(even) {
    background-color: #eeeef6;
}

.docs .doctable {
    border: 1px solid #ccc;
    width: 100%;
    margin:.75em 0;
}

.docs .doctable thead tr {
    border:1px solid #99c;
}
.docs .doctable th {
    background-color: #bbd;
    text-align: center;
    color: #262626;
}
.docs .doctable tr {
    border-bottom:1px solid #ccc;
}
/* }}} */

/* {{{ lists */
ul.itemizedlist {
    list-style-type: circle;
}
ul.simplelist
{
    list-style-type: disc;
}
ul.chunklist {
    list-style-type: disc;
}
.docs ol {
    list-style-type: decimal;
}
dl.qandaentry {
    border-top: 1px solid #000;
}

ul.chunklist_children {
    margin-top:0;
}
/* }}} */

.docs div.sect1, .docs div.partintro {
    position: relative;
}

.docs .refnamediv p.verinfo {
    font-size: .75em;
    line-height:2;
}
.docs .refnamediv p {
    margin:0;
}
.refsect1 p {
    margin-top:0;
}

.docs h1.refname {
    color: #669;
    font-weight:bolder
}
.docs .refnamediv {
    position:relative;
}

.docs .refentry .refpurpose {
    display:none;
    border-radius:0 0 2px 2px;
    padding: .75em .625em;
    background-color:#F0F0F0;
    border-top:.125em solid #737373;
    border-bottom:1px solid #D6D6D6;
    box-shadow:
        inset 2px 0 2px -2px #D6D6D6,
        inset -2px 0 2px -2px #D6D6D6;
}

.refsect1 h3.title {
    color: #262626;
    position: absolute;
    top:-2em;
    left: 0;
}

.docs .classsynopsis,
.refsect1 {
    color: #262626;
    border-top:0.125em solid #669;
    border-bottom:1px solid #cacae3;
    box-shadow:
        inset 2px 0 2px -2px #d4d4e8,
        inset -2px 0 2px -2px #d4d4e8;
}

.refsect1 {
    margin-top: 3em;
}

.docs .classsynopsis,
.docs div.refsect1 {
    position: relative;
    background-color: #eeeef6;
    -moz-border-radius:0 0 2px 2px;
    border-radius:0 0 2px 2px;
    padding: .75em .625em;
}

.docs .classsynopsis {
    color: #4D4D4D;
    margin-bottom:.75em;
}
.docs .interfacename a,
.docs .fieldsynopsis .type,
.docs .methodsynopsis .type,
.docs .constructorsynopsis .type {
    color:#693;
}

.docs .fieldsynopsis .modifier,
.docs .methodsynopsis .modifier,
.docs .constructorsynopsis .modifier {
    color:#444;
}

.docs .classsynopsisinfo_comment {
    color:#f80;
    font-weight:normal;
}

.classsynopsisinfo_comment,
.classsynopsis .constructorsynopsis,
.classsynopsis .methodsynopsis,
.classsynopsis .destructorsynopsis,
.classsynopsis .fieldsynopsis {
    margin-left:2em;
}

#changelang {
    border: 0;
}


/* - Side Menu - */
.docs .layout-menu ul.parent-menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.docs .layout-menu ul.parent-menu-list > li {
    margin-top:0;
    margin-bottom:0;
    
}
.docs .layout-menu ul.parent-menu-list > li > a {
    color:#000;
    border:0;
}
.docs .layout-menu ul.parent-menu-list a {
    color: #262626;
}

.docs .layout-menu ul.parent-menu-list a:hover {
    color: #693;
    text-shadow:0 0 .25em #fff;
}

.docs .layout-menu ul.child-menu-list {
    margin: 0;
    padding:0 .25em;
}

.docs .layout-menu ul.child-menu-list li {
    list-style-type: none;
    margin: 0;
}

.docs .layout-menu ul.child-menu-list .current a {
    color:#669;
}
.docs .layout-menu ul.child-menu-list a {
    font-size: .875em;
    line-height: 1.714285714;
    border-bottom: 1px dotted #BDBDBD;
    display:block;
    padding-left:.125em;
}

.docs .layout-menu ul.child-menu-list .current {
    font-weight:bolder;
}
.docs .layout-menu ul.child-menu-list .current {
    position:relative;
}
.docs .layout-menu ul.child-menu-list .current a:before {
    content:"\bb \20";
    position:absolute;
    left:-.675em;
}

#changelang-langs {
    width:12em; 
    font-size:.75em;
    line-height:2;
    margin: 0 0 0 .75em;
}

.docs .sect2 {
    margin-top: .75em;
}

/* Soft-deprecation Notices */
div.soft-deprecation-notice h1.title {
    border: 0;
    color: #454e55;
    position: absolute;
    padding: 0;
    margin:0;
    top:-22px;
    left: 0;
    font-weight: bold;
}
div.soft-deprecation-notice {
    position: relative;
    margin-top: 50px;
    border: 1px solid #AA6666;
    color: #fff;
    background-color: #ffeeee;
    z-index: 100;
}
div.soft-deprecation-notice blockquote.sidebar {
    padding: 10px;
    margin: 0px;
    border: 0px solid #666600;
    color: #660000;
}


#breadcrumbs {
    color:#737373;
    background:#f2f2f2;
    border:1px solid #e0e0e0;
    border-bottom-color:#d9d9d9;
    margin:0 0 0.85714285714286em;
    font-size:.875em;
    line-height:1.71428571428571;
    -moz-border-radius:2px;
    border-radius:2px;
}
#breadcrumbs .breadcrumbs-inner {
    padding:.5em .75em;
}
#breadcrumbs ul {
    padding:0;
    margin:0;
}
#breadcrumbs li {
    display:inline-block;
}
#breadcrumbs .divider {
    padding:0 .25em;
}
#breadcrumbs a:link,
#breadcrumbs a:visited {
    color:#369;
    border-width:0;
}
#breadcrumbs li:last-child a {
    color:#4D4D4D;
}
#breadcrumbs li:last-child a:hover,
#breadcrumbs li:last-child a:focus,
#breadcrumbs a:hover,
#breadcrumbs a:focus {
    color:#693;
}
