/* vim: set et ts=4 sw=4 fdm=marker: : */


/* {{{ The Quick TOC reference top on man pages */
aside#quicktoc {

    padding: 10px 0 10px 10px;
    border-top: 1px solid #C3ADD9;
    border-left: 1px solid #C3ADD9;
    border-bottom: 1px solid #C3ADD9;
    margin: 0 0 20px 20px;
    width: 125px;
    position: fixed;
    right: 0px;
}
/* }}} */

/* {{{ General styles (p, parameters, initializers, ...) */
.docs p {
    margin: 0.7em 0;
}
.docs .methodname b {
    color: #000;
}

.docs .parameter {
    color: #604080;
    font-weight: bold;
}

.docs i .parameter {
    font-style: normal;
}

.docs .initializer {
    color: #000;
}
/* }}} */



/* {{{ Warning and notes */
.docs div.warning,
.docs div.caution,
.docs div.tip,
.docs blockquote.note {
    padding: 10px 20px;
    margin: 1em 2em 1.3em;
}

.docs blockquote.note {
    border-top: 3px solid #fff08a;
    background-color: #EFEFEF;
}
.docs div.tip {
    border-top: 3px solid #434343;
    background-color: #EFEFEF;
}
.docs div.warning {
    border-top: 3px solid #ff4d4d;
    background-color: #EFEFEF;
}
.docs div.caution {
    border-top: 3px solid #F90;
    background-color: #EFEFEF;
}
.docs blockquote.note,
.docs div.warning,
.docs div.caution,
.docs div.tip {
    font-size: 1em;
    margin-right: 0.8em;
}
.docs div.warning b.warning,
.docs div.caution b.caution,
.docs div.tip b.tip {
    float: left;
    margin-right: 0.8em;
}
.docs blockquote.note p,
.docs div.warning p,
.docs div.caution p,
.docs div.tip p {
    margin: 0;
}
/* }}} */

.docs .refentry .methodsynopsis {
    color: #666;
    font-family: monospace;
}

/* {{{ Parameter listing */
.docs .refentry .parameters dt {
    font-size: 1.2em;
}

.docs .refentry .parameters dd {
    margin-top: -0.7em;
    padding-left: 20px;
}

.docs .refentry .parameters p {
    margin: 0.7em 0;
}
/* }}} */



/* {{{ Examples (highlighting is in theme.css) */
.docs blockquote.note,
.docs div.warning,
.docs div.caution,
.docs div.tip
.docs .cdata pre,
.docs .example-contents div pre,
.docs .example-contents div.phpcode,
.docs .refentry .methodsynopsis  {
    border-top: 1px solid #9f8a8a;
    border-bottom: 1px solid #9f8a8a;
    border-left: 0;
    border-right: 0;
    background-color: #fcfcfc;
    margin: 2px 0px;
    font-weight: normal;
    padding: .5em .2em .5em .2em;
}

/* }}} */


/* {{{ Tables */
.docs th {
    text-align: left;
}

.docs td, .docs th {
    padding: 2px 5px;
}

.docs .doctable tbody tr:nth-child(even) {
    background-color: #EFEFEF;    
}

.docs .doctable {
    border-top: 1px solid #9F8A8A;
    border-bottom: 1px solid #9F8A8A;   
    width: 100%;
}

.docs .doctable th {
    background-color: #FCFCFC;
    text-align: center;
    border-bottom: 1px solid #9F8A8A; 
}
.docs .doctable td, .docs .doctable th {
    border-right: 1px solid #9F8A8A ;
}
.docs .doctable td:last-child, .docs .doctable th:last-child {
    border-right: 0px;
}
/* }}} */

/* {{{ lists */
ul.itemizedlist,
ul.simplelist,
ul.chunklist,
.docs ol {
    padding: 0 0 2px 10px;
    margin: 0 0 2px 10px;
}
ul.itemizedlist {
    list-style-type: circle;
}
ul.simplelist
{
    list-style-type: disc;
}
ul.chunklist {
    list-style-type: disc;
}
.docs ol {
    list-style-type: decimal;
}
dl.qandaentry {
    border-top: 1px solid #000;
}
/* }}} */

.docs div.refnamediv {
    border-bottom: 3px solid #81939f;
    position: relative;
}

.docs p.verinfo {
    position: absolute;
    right:0px;
    top: 0;
    color: #b3b3b3;
}

.docs h1.refname {
    font-family: sans-serif,Arial,Helvetica;
    font-size: 20px;
    font-weight: bold;
    color: #454e55;
}

.docs p.refpurpose {
    color: #454e55;
}

.docs  div.refsect1 h3.title {
    border: 0;
    color: #636363;
    position: absolute;
    padding: 0;
    margin:0;
    line-height: 1em;
    top:-22px;
    left: 0;
    font-size: 1.4em;
}

.docs div.refsect1 {
    position: relative;
    background-color: #f5f5f5;
    border: 1px solid #cacaca;
    margin-top: 50px;
    padding: 15px 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #454e55;
}

.docs .para {
    margin:0;
}

#changelang {
    display: none; /* Temporarly removed until we do not find a suitable place for the element */
}

/* - Side Menu - */
.docs .layout-menu {
    width: 240px;
    border: 1px solid #CACACA;
    background-image:url('/images/bg_pattern.png');
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.10);
    
}

.docs .layout-menu ul ul {
}

.docs .layout-menu ul:first-child {
    width: 100%;
    list-style: none;
    list-style-position:inside;
    margin: auto;
    padding: 5px;
    width: 228px;
}

.docs .layout-menu ul:first-child li {
    line-height: 1.5em;
    margin-bottom: 1px;
    opacity:0.8;filter:alpha(opacity=80);

}

.docs .layout-menu ul:first-child a {
    background-color: #81939F;
    color: white;
    padding-left: 5px;
    border-left: 10px solid #2b3135;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.docs .layout-menu ul:first-child ul a {
    background-color: transparent;
    text-shadow: none;
    border-left: 0px solid #2b3135;
    color: black;  
    line-height: 1.6em; 
}

.docs .layout-menu ul a {
    border: 0;
    margin-top: auto; /* FIXME: Overriden from theme.css */
    padding: 0;
    font-size: 10px;
}

.docs .layout-menu ul ul a {
    font-size: 10px;
 
}

.docs #layout {
    padding: 25px 165px 25px 10px; /* FIXME: Overriden from theme.css */
    max-width: none; /* FIXME: Overriden from theme.css */
}

.docs .layout-content, .docs #usernotes {
    margin-left: 272px;
}



