/* vim: set et ts=4 sw=4 fdm=marker: : */


/* {{{ The Quick TOC reference top on man pages */
aside#quicktoc {

    padding: 10px 0 10px 10px;
    border-top: 1px solid #C3ADD9;
    border-left: 1px solid #C3ADD9;
    border-bottom: 1px solid #C3ADD9;
    margin: 0 0 20px 20px;
    width: 125px;
    position: fixed;
    right: 0px;
}
/* }}} */

/* {{{ General styles (p, parameters, initializers, ...) */
.docs p {
    margin: 0.7em 0;
}
.docs .methodname b {
    color: #000;
}

.docs .parameter {
    color: #604080;
    font-weight: bold;
}

.docs i .parameter {
    font-style: normal;
}

.docs .initializer {
    color: #000;
}
/* }}} */



/* {{{ Warning and notes */
.docs div.warning,
.docs div.caution,
.docs div.tip,
.docs blockquote.note {
    padding: 10px 20px;
    margin: 1em 2em 1.3em;
}

.docs blockquote.note {
    border-top: 3px solid #fff08a;
    background-color: #EFEFEF;
}
.docs div.tip {
    border-top: 3px solid #434343;
    background-color: #EFEFEF;
}
.docs div.warning {
    border-top: 3px solid #ff4d4d;
    background-color: #EFEFEF;
}
.docs div.caution {
    border-top: 3px solid #F90;
    background-color: #EFEFEF;
}
.docs blockquote.note,
.docs div.warning,
.docs div.caution,
.docs div.tip {
    font-size: 1em;
    margin-right: 0.8em;
}
.docs div.warning b.warning,
.docs div.caution b.caution,
.docs div.tip b.tip {
    float: left;
    margin-right: 0.8em;
}
.docs blockquote.note p,
.docs div.warning p,
.docs div.caution p,
.docs div.tip p {
    margin: 0;
}
/* }}} */

.docs .refentry .methodsynopsis {
    color: #666;
    font-family: monospace;
}

/* {{{ Parameter listing */
.docs .refentry .parameters dt {
    font-size: 1.2em;
}

.docs .refentry .parameters dd {
    margin-top: -0.7em;
    padding-left: 20px;
}

.docs .refentry .parameters p {
    margin: 0.7em 0;
}
/* }}} */



/* {{{ Examples (highlighting is in theme.css) */
.docs blockquote.note,
.docs div.warning,
.docs div.caution,
.docs div.tip
.docs .cdata pre,
.docs .example-contents div pre,
.docs .example-contents div.phpcode,
.docs .refentry .methodsynopsis  {
    border-top: 1px solid #9f8a8a;
    border-bottom: 1px solid #9f8a8a;
    border-left: 0;
    border-right: 0;
    background-color: #fcfcfc;
    margin: 2px 0px;
    font-weight: normal;
    padding: .5em .2em .5em .2em;
}

/* }}} */


/* {{{ Tables */
.docs th {
    text-align: left;
}

.docs td, .docs th {
    padding: 2px 5px;
}

.docs .doctable tbody tr:nth-child(even) {
    background-color: #EFEFEF;    
}

.docs .doctable {
    margin: 3px 30px;
}

.docs .doctable th {
    background-color: #C3ADD9;
    border-bottom: 1px solid #987db3;
    text-align: center;
}
.docs .doctable td {
    border-right: 1px solid #987db3;
}
.docs .doctable td:last-child {
    border: 0px;
}
/* }}} */

/* {{{ lists */
ul.itemizedlist,
ul.simplelist,
ul.chunklist,
.docs ol {
    padding: 0 0 2px 10px;
    margin: 0 0 2px 10px;
}
ul.itemizedlist {
    list-style-type: circle;
}
ul.simplelist
{
    list-style-type: disc;
}
ul.chunklist {
    list-style-type: disc;
}
.docs ol {
    list-style-type: decimal;
}
dl.qandaentry {
    border-top: 1px solid #000;
}
/* }}} */

.docs div.refnamediv {
    border-bottom: 4px solid #81939f;
    position: relative;
}

.docs p.verinfo {
    position: absolute;
    right:0px;
    top: 0;
    color: #b3b3b3;
}

.docs h1.refname {
    font-family: sans-serif,Arial,Helvetica;
    font-size: 20px;
    font-weight: bold;
    color: #454e55;
}

.docs p.refpurpose {
    color: #454e55;
}

.docs  div.refsect1 h3.title {
    border: 0;
    color: #4d3737;
    position: absolute;
    padding: 0;
    margin:0;
    line-height: 1em;
    top:-23px;
    left: 0;
}

.docs div.refsect1 {
    position: relative;
    background-color: #f5f5f5;
    border: 1px solid #cacaca;
    margin-top: 50px;
    padding: 15px 10px;
    border-radius: 3px;
}

.docs .para {
    margin:0;
}

#changelang {
    display: none; /* Temporarly removed until we do not find a suitable place for the element */
}


