/* Home Page

complimentary greens: 9FB553    7B8851    61761B    C6DA82    CCDA99

*/
#intro {
    background:#444449;
    box-shadow:inset 0 0 2em rgba(0,0,0,.375);
    color:#fff;
    border-bottom:.25em solid #99c;
}
#intro p {
    text-shadow:0 1px 2px rgba(0,0,0,.5);
    font-size:1.25em;
    line-height:1.2;
    margin-bottom:1.2em;
}   
#intro .blurb p {
    line-height:1.8;
} 
#intro .blurb p:last-child {
    margin-bottom:0;
}   
#intro h2 {
    font-size:1.25em;
    line-height:1.8;
    color:#ccc;
    text-shadow:0 -1px 0 rgba(0,0,0,.25);
    text-transform:uppercase;
    letter-spacing:3px;
    word-spacing:6px;
}
#intro .row-fluid {
    position:relative;
}
#intro .background {
  display:none;
}
#intro .download-php {
    text-align:left;
    margin:0 1.5em;
    padding:.75em 0;
}
#intro .download-php .row-fluid p {
    margin-top:0;
    margin-bottom:0;
}
#intro .download-php .row-fluid p.notes {
    font-size:.75em;
    line-height:2;
}
.download-php a {
    color:#ccc;
    border:0;
}
.download-php a.download-link {
    border:0;
    color:#fff;
}
.download-php a.download-link:before {
    content: "\21AF \2003";
}

/* Announcement Area */

.home aside.tips {
    background:transparent;
    padding:0;
    border:0;
}
.home aside.tips div.inner {
    padding:0;
    clear:none;
    border:0;
    background:inherit;
}
.home .announcements {
    display: block;
    background-color: #ebebf4;
    border:1px solid #dbdbeb;
    border-bottom-color:#cacae2;
    border-radius: 0 0 2px 2px;
    padding: 1em;
    margin: 0;
    list-style: none;
}
.home .announcements li + li {
    margin-top:.75em;
}
.home .announcements ul, .home .announcements ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* {{{ Right-hand sidebar */
.home aside.tips .panel {
    margin:0.66666666666667em 0;
    background:#f0f0f0;
    border:1px solid #e3e3e3;
    border-bottom-color:#d6d6d6;
    border-radius:2px;
}

.home aside.tips .panel a {
    color:#333;
    display: block;
    padding: .75em 1em;
}
.home aside.tips .panel span {
    display: block;
    padding: .75em 1em;
}
.home aside.tips .conferences {
	line-height: 1;
}
.home aside.tips .panel .announcements a {
	padding: 0;
	border: 0;
	margin: 0;
	line-height: 1;
}
.home aside.tips .panel a::after {
    float:right;
    content:"»";
    color:#666;
}
.home aside.tips .panel a:hover,
.home aside.tips .panel a:focus {
    background:#ebebf4;
    border-color:#dbdbeb;
    border-bottom-color:#cacae2;
    color:#000;
}
.home aside.tips .panel a:hover::after,
.home aside.tips .panel a:focus::after {
    color:#333;
}

.home aside.tips a:link,
.home aside.tips a:visited {
    color:#369;
    border-bottom-color: transparent;
}
.home aside.tips a:hover,
.home aside.tips a:focus {
    color:#f25050;
    border-bottom-color: #f25050;
}
/* }}} */


.newsentry .newstitle a {
    background-color: #ebebf4;
    color:#333;
    padding: .75em 1em;
    display: block;
}

.newsentry .newstitle a::after  {
    float:right;
    content:"»";
    color:#666;
}
.newsentry .newscontent {
	padding: 5px;
	margin-bottom: 20px;
}

