/* Home Page

complimentary greens: 9FB553    7B8851    61761B    C6DA82    CCDA99

*/
#intro {
    background:#444449;
    box-shadow:inset 0 0 2em rgba(0,0,0,.375);
    color:#fff;
    border-bottom:.25em solid #99c;
}
#intro p {
    text-shadow:0 1px 2px rgba(0,0,0,.5);
    font-size:1.25em;
    line-height:1.2;
    margin-bottom:1.2em;
}   
#intro .row .blurb,
#intro .row .download {
  display:table-cell;
  float:none;
  vertical-align: middle;
}
#intro .blurb {
  padding:0 1.5em;
}
#intro .blurb p {
    line-height:1.8;
} 
#intro h2 {
    font-size:1.25em;
    line-height:1.8;
    color:#ccc;
    text-shadow:0 -1px 0 rgba(0,0,0,.25);
    text-transform:uppercase;
    letter-spacing:3px;
    word-spacing:6px;
    text-align:center;
}
#intro .row {
  position:relative;
  display:table-row;
}

#intro .download {
  background:rgba(255,255,255,.1);
  padding:.75em 1.5em;
}
#intro .download p {
    margin:0;
}
#intro .download a.notes {
    font-size:.75em;
    line-height:2;
    padding-left:.5em;
    white-space:nowrap;
}
#intro .download a {
    color:#ccc;
    border:0;
}
#intro .download a.download-link {
    color:#fff;
}
#intro .download a.download-link:before {
    content: "\21AF \2003";
}

.home .newsentry .newstitle a:after  {
  content:"\20 \00bb";
  color:#666;
}

p.archive {
	text-align: right;
}
