/* Home Page */


/* Hero */

.intro .container {
  padding: 0 24px;
}

.intro {
    background-image: url(/images/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.subintro {
    background: #2D2F3D;
}
.subintro-text {
    color: #FFFFFF;
    margin: 1rem 1.5rem;
    letter-spacing: .5px;
    line-height: 1.75;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

.subintro-text p:last-of-type {
    margin-bottom: 0;
}

.hero {
  width: 100%;
  flex: none;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  gap: 2rem
}

.hero > * {
    z-index: 10;
}

.hero-logo-container {
    overflow: visible;
    position: relative;
}

.hero-logo-container::before {
    z-index: 1;
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: -5000px;
    right: 0;
    transform: skew(-15deg);
    background: rgba(45, 47, 61, .7);
    border-radius: 10px;
}

.hero-logo {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 240px;
    margin: 1.5rem;
}

.hero-text {
  margin-top: 0;
  margin-bottom: 28px;
  line-height: 1.5;
  text-align: center;
  text-rendering: optimizeLegibility;
}

.hero-text strong {
  font-weight: 500;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem
}
.hero-actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-btn {
  box-sizing: border-box;
  padding: .75rem 1rem;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  border: 2px solid #BBC3FF;
  font-size: 1.15rem;
  transition: background-color 0.2s;
}

.hero-btn-primary {
  background-color: #8C92BE;
  color: #FFFFFF !important;
}

.hero-btn-primary:hover, .hero-btn-primary:focus {
  background-color: #793862;
}

.hero-btn-secondary {
  background-color: rgba(0, 0, 0, .3);
  color: #FFFFFF !important;
}

.hero-btn-secondary:hover, .hero-btn-secondary:focus {
  background-color: #793862;
  border-color: #793862;
  color: #fff !important;
}

.hero-versions {
  margin: 0;
  list-style:none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.hero-version {
    margin-bottom: 0;
    background: #2D2F3D;
    border-radius: 200rem;
    padding: .3rem 1rem .3rem .5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.hero-versions a.notes {
    white-space:nowrap;
}

.hero-versions a {
    color: #FFFFFF;
    font-size: .9rem;
    border: 0;
}

.hero-versions a:hover {
    color: #BBC3FF;
}

.hero-versions .hero-version-link {
    color: #2D2F3D;
    display: inline-block;
    background: #BBC3FF;
    border-radius: 2rem;
    padding: .1rem .5rem;
    line-height: normal;
}

.hero-versions .hero-version-link:hover {
    color: #FFFFFF;
    background: #8C92BE;
}

@media (min-width: 540px) {
  .hero-actions {
    flex-direction: row;
    width: auto;
  }

  .hero-btn {
    min-width: 188px;
  }
}

@media (min-width: 992px) {
  .hero {
    gap: 5rem;
    align-items: end;
    flex-direction: row;
    margin: 60px 0;
  }

  .hero-versions {
    flex-direction: row;
  }

  .hero-version {
    font-size: 1.125rem;
  }

  .hero-text {
    font-size: 18px;
  }
}


/* Layout */

p.archive {
	text-align: right;
}

@media (min-width: 768px) {
    .subintro-text {
        flex-direction: row;
    }

    .navbar-search,
    .intro .background,
    aside.tips,
    .layout-menu {
        width: 25%;
    }

    #layout-content {
        width: 75%;
    }
}

@media (min-width: 768px) and (max-width: 784px) {
    aside.tips, .navbar-search {
        width: 30%;
    }

    #layout-content {
        width:70%;
    }
}

/* Homepage mirror sponsor */
aside.tips .mirror-sponsor {
    padding-top: 1.5rem;
}

/* Social media buttons. */
aside.tips .social-media .icon-twitter {
    font-size: 1.5em;
    vertical-align: middle;
}

aside.tips .upcoming-conferences.panel {
    margin-bottom: .75rem;
}
aside.tips .upcoming-conferences ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside.tips .upcoming-conferences ul li a {
    padding: .75rem 0;
    display: block;
    border-bottom: 1px solid #666A8B;
    color: #666A8B;
}
aside.tips .upcoming-conferences ul li a:before {
    content: '\000BB  '
}

aside.tips .upcoming-conferences ul li a:hover {
    background: #f0f0f0;
    transition: background .3s;
    color: #666A8B;
    border-color: #666A8B;
}

aside.tips .upcoming-conferences ul li:last-of-type a {
    border-bottom: none;
}
aside.tips .upcoming-conferences .body {
    margin-top: 0;
}
