/* TOC elements on manual pages ------------------------------------------- */
ul#manualtoc li {
	background-image: url(/images/box-0.gif);
}
ul#manualtoc li.up {
	background-image: url(/images/caret-u.gif);
}
ul#manualtoc li.home {
	background-image: url(/images/caret-t.gif);
}
ul#manualtoc li.active {
	background-image: url(/images/box-1.gif);
}

/* Left sidebar background ------------------------------------------------ */
#layout_2, #layout_3 {
	background-image: url(/images/leftbar.png);
}
