/* TOC elements on manual pages ------------------------------------------- */
ul.toc li {
	background-image: url(/images/box-0.gif);
}
ul.toc li.up {
	background-image: url(/images/caret-u.gif);
}
ul.toc li.home {
	background-image: url(/images/caret-t.gif);
}
ul.toc li.active {
	background-image: url(/images/box-1.gif);
}

/* Sidebar backgrounds ---------------------------------------------------- */
#layout_2, #layout_3 {
	background-image: url(/images/leftbar.png);
}
#layout_3_helper {
	background-image: url(/images/rightbar.png);
}

/* Tips and warning icons, mainly used in the manual */
div.tip {
	background-image: url(/images/dialog-information.png);
}
div.warning {
	background-image: url(/images/dialog-warning.png);
}
