#mirrors-container {

}

#mirrors-container h1.title {
    font-size: 1.7em;
}

#mirrors-container .mirrors-header {

}

#mirrors-container .mirrors-header p {
    margin-bottom: 12px;
}

#mirrors-container .mirrors-list {
    border: 1px solid #CCC;
    border-right: none;
    border-top: none;
}

#mirrors-container .mirrors-list .mirror:first-child {
    margin-left: 0;
}

#mirrors-container .mirrors-list .mirror {
    /*margin-left: 12px;*/
    width: 270px;
    min-height: 150px;
    padding: 10px;
    float: left;
    border-top: 1px solid #CCC;
    border-right: 1px solid #CCC;
    position: relative;
}

#mirrors-container .mirrors-list .mirror .title {
    margin-bottom: 20px;
    font-size: 1.4em;
}

#mirrors-container .mirrors-list .mirror .flag {
    position: absolute;
    top: 3px;
    right: 8px;
}

#mirrors-container .mirrors-list .mirror .entry:last-child {
    margin-bottom: 0;
}

#mirrors-container .mirrors-list .mirror .entry {
    margin-bottom: 12px;
}

.mirrors-list .mirror .entry .url {
    float: left;
}

.mirrors-list .mirror .entry .provider {
    float: left;
    margin-left: 10px;
}
