#layout-content:only-child {
  width: 100% !important;
}

@media (max-width: 979px) and (min-width: 768px) {
  .navbar-search {
    width: 30% !important;
    max-width: calc(100% - 605px) !important;
  }
}

.php8-section {
  padding: 96px 1.5rem;
  margin: 0 -1.5rem;
}

.php8-section_dark {
  background-color: #4F5B93;
  color: #fff;
}

.php8-section__content {
  width: 820px;
  max-width: 100%;
  margin: 0 auto;
}

.php8-section_header .php8-section__content {
  width: 1050px;
}

.php8-section_dark * {
  color: #fff;
}

.php8-section_light {
  background-color: #fff;
}

.php8-section_header {
  position: relative;
  padding-top: 64px;
  margin-top: -1.5rem;
  font-family: Helvetica, Arial, sans-serif;
}

.php8-section_footer {
  margin-bottom: -1.5rem;
  font-family: Helvetica, Arial, sans-serif;
}

.php8-section img {
  max-width: 100%;
}

.php8-logo {
  vertical-align: middle;
}

.php8-logo img {
  max-width: 90%;
}

.php8-title {
  margin-top: 16px;
  font-size: 60px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: -1.5px;
}

@media (max-width: 480px) {
  .php8-title {
    font-size: 50px;
  }
}

.php8-subtitle {
  margin-top: 48px;
  font-size: 28px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
}

@media (max-width: 480px) {
  .php8-subtitle {
    font-size: 24px;
  }
}

.php8-h2 {
  display: inline-block;
  font-size: 31px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.5px;
  color: #27282c;
  overflow: visible;
}

.php8-h2::after,
.php8-h3::after {
  display: none;
}

.php8-h2_margin-top {
  margin-top: 48px;
}

.php8-section_dark .php8-h2 {
  display: block;
  color: #fff;
}

.php8-button-wrapper {
  margin-top: 48px;
}

.php8-button {
  display: inline-block;
  padding: 16px 46px;
  border-radius: 30px;
  border: none;
  background-color: #4F5B93;
  color: #fff !important;
  text-decoration: none !important;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
}

@media (max-width: 640px) {
  .php8-button {
    padding: 16px 36px;
  }
}

.php8-button_light {
  background-color: #fff !important;
  color: #27282c !important;
}

.php8-footer__content {
  margin-top: 64px;
  text-align: left;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
}

#layout-content .php8-section_dark  a:link,
#layout-content .php8-section_dark a:visited {
  color: #fff;
  transition: opacity 0.2s;
}

#layout-content .php8-section_dark a:hover,
#layout-content .php8-section_dark a:focus {
  color: #fff;
  border-color: #fff;
  opacity: 0.85;
}

.php8-section p:last-child {
  margin-bottom: 0;
}

.display-block-lg {
  display: block;
}
.display-none-lg {
  display: none;
}

@media (max-width: 1000px) {
  .display-block-md {
    display: block;
  }
  .display-none-md {
    display: none;
  }
}

@media (max-width: 640px) {
  .display-block-sm {
    display: block;
  }
  .display-none-sm {
    display: none;
  }
}

.php8-rfc {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  vertical-align: middle;
  color: #505c90;
  border-bottom-color: currentColor;
}

.php8-compare ~ .php8-compare {
  margin-top: 58px;
}

.php8-compare__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 810px) {
  .php8-compare__main {
    display: block;
  }
}

.php8-compare__block {
  position: relative;
  -ms-flex-preferred-size: calc((100% - 68px)/2);
  flex-basis: calc((100% - 68px)/2);
  text-align: left;
}

.php8-compare__label {
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 6px 16px 4px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: rgba(39, 40, 44, 0.7);
  background-color: rgba(39, 40, 44, 0.05);
}

.php8-compare__label_new {
  background-color: #505c90;
  color: #fff;
}

.php8-compare__content {
  display: inline-block;
  max-width: 820px;
  margin-top: 24px;
  text-align: left;
}

@media (max-width: 810px) {
  .php8-compare__content {
    display: block;
  }
}

.php8-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 50px 40px 38px !important;
  box-sizing: border-box;
  margin: 0 !important;
}

@media (max-width: 768px) {
  .php8-code {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
}

.php8-compare__arrow {
  height: 36px;
  width: 20px;
  margin: auto;
  background: url("/images/php8/icon_arrow.svg") scroll no-repeat center center / contain transparent;
}

@media (max-width: 810px) {
  .php8-compare__arrow {
    margin-top: 10px;
    margin-bottom: 10px;
    transform: rotate(90deg);
  }
}

.php8-section li ~ li {
  margin-top: 24px;
}

.php8-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .php8-columns {
    display: block;
  }
}

.php8-column {
  -ms-flex-preferred-size: calc((100% - 68px)/2);
  flex-basis: calc((100% - 68px)/2);
}

@media (max-width: 768px) {
  .php8-column {
    width: 100%;
  }
}

.php8-h2 .genanchor {
  display: none;
  float: left;
  height: 30px;
  width: 30px;
  margin-top: 4px;
  margin-left: -30px;
  background: url("/images/php8/anchor.svg") scroll no-repeat left center / 21px 16px transparent;
  text-decoration: none;
  border-bottom: none;
  font-size: 0;
}

.php8-h2:hover .genanchor {
  display: block;
}

.page-tools {
  position: absolute;
  top: 28px;
  right: 28px;
}

@media (max-width: 1000px) {
  .page-tools {
    top: 16px;
    right: 16px;
  }
}

@media (max-width: 480px) {
  .page-tools {
    top: 0;
  }
}

.change-language {
  font-size: 15px;
  color: #fff;
  line-height: 1.6;
}

.change-language label {
  display: inline-block;
  margin-left: 16px;
  vertical-align: middle;
}

@media (max-width: 480px) {
  .change-language label {
    margin-top: 8px;
  }
}

.change-language select {
  min-width: 178px;
  margin-left: 16px;
  vertical-align: middle;
}

@media (max-width: 480px) {
  .change-language select {
    margin-top: 8px;
  }
}

.change-language select,
.change-language option {
  padding: 4px 5px;
  color: rgba(39, 40, 44, 0.7);
  line-height: 1.33;
}