/* TOC elements on manual pages ------------------------------------------- */
ul.toc li {
	background-image: url(//static.php.net/www.php.net/images/box-0.gif);
}
ul.toc li.up {
	background-image: url(//static.php.net/www.php.net/images/caret-u.gif);
}
ul.toc li.home {
	background-image: url(//static.php.net/www.php.net/images/caret-t.gif);
}
ul.toc li.active {
	background-image: url(//static.php.net/www.php.net/images/box-1.gif);
}

/* Sidebar backgrounds ---------------------------------------------------- */
#layout_2, #layout_3 {
	background-image: url(//static.php.net/www.php.net/images/leftbar.png);
}
#layout_3_helper {
	background-image: url(//static.php.net/www.php.net/images/rightbar.png);
}

/* Tips and warning icons, mainly used in the manual */
div.tip {
	background-image: url(//static.php.net/www.php.net/images/dialog-information.png);
}
div.warning {
	background-image: url(//static.php.net/www.php.net/images/dialog-warning.png);
}

/* Voting images ---------------------------------------------------------- */
div#usernotes a.usernotes-voteu,
div#usernotes a.usernotes-voted,
div#usernotes a.usernotes-voteu:hover,
div#usernotes a.usernotes-voted:hover {
    background-image: url(//static.php.net/www.php.net/images/notes-features.png);
}

