body, input, textarea {
    font-size: 13px;
}

h1 {
    margin-bottom: 0.2em;
}

#headnav {
    padding: 0 25px;
    height: 72px;
}

#headmenu {
    width: 940px;
    margin: 0 auto;
    padding-right: 20px;
}

#headnav h6,
#headmenu li,
#headsearch {
    display: block;
    float: left;
    margin: 0;
    list-style: none;
    padding: 18px 0 0 0;
}

#headnav li#headhome {
}

#headnav li#headhome a,
#headnav li#headhome a:hover {
    width: 170px;
    height: 13px;
    text-indent: -2000em;
}

#headnav li#headsearch {
    margin: 22px 0 0 20px;
    padding: 2px;
    float: right;
    border: 1px solid;
}

#headsearch-keywords {
    border: 0;
    padding: 2px;
    width: 14em;
}

#headsearch-submit,
#changelang-submit
{
    border: 0;
    margin: 1px;
    padding: 2px 5px;
    font-weight: bold;
}

#headnav a.menu-link,
#headnav h6 a {
    display: block;
    padding: 10px;
    margin: 0;
    border-bottom: 12px solid;
}

#headnav a.menu-link,
#headnav li.current a.menu-link {
    padding: 12px 15px 17px 15px;
}

#headnav li.parent a.menu-link {
    padding-right: 25px;
}

#headnav li.parent .children {
    display: none;
}

#mega-drop-down div.children {
    border-bottom-width: 12px;
    border-bottom-style: solid;
    padding-bottom: 1em;
}

#mega-drop-down div.children-1 {
    width: 960px;
    margin: 0 auto;
}

#mega-drop-down div.children dl, #mega-drop-down div.children ul {
    width: 225px;
}

#mega-drop-down div.children dt, #mega-drop-down div.children li {
    border-top: none;
}

#headnav .myphp {
    float: left;
    position: absolute;
    right: 20px;
    top: 30px;
}

.children dl, .children ul {
    float: left;
    width: 195px;
    padding-right: 15px;
}

.children dl a, .children ul a {
    display: block;
    padding: 4px;
}

.children dt, .children li {
    font-weight: bold;
    margin-top: 1em;
    border-top-width: 3px;
    border-top-style: solid;
}

.children dd {
    padding: 0 0 0 10px;
    font-size: 11px;
}

#layout {
    padding: 25px 150px 25px 10px;
    max-width: 1400px;
    min-width: 600px;
    margin: 0 auto;
}

.layout-menu {
    float: left;
    width: 160px;
}

.layout-menu li a {
    display: block;
    border-top-width: 3px;
    border-top-style: solid;
    padding: 4px 0;
    margin-top: 1em;
    font-weight: bold;
}

.layout-menu li li a {
    overflow: hidden;
    border: none;
    font-size: 11px;
    padding: 1px 0 1px 20px;
    margin: 0;
    font-weight: normal;
}
.layout-menu li.current a {
    font-weight: bold;
}

.layout-content {
    margin-left: 175px;
    padding-bottom: 12px;
}

footer .footmenu {
    float: right;
}
footer .footmenu.copyright {
    float: left;
}
footer .footmenu li {
    display: inline;
}

/**
 * Auto-complete
 */
.ui-autocomplete {
    width: 185px;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-position: outside;
    list-style: none;
    margin: 0;
    padding: 0 0 5px 0;
    border: 1px solid;
    z-index: 99999;
}

.ui-autocomplete li {
    margin: 0px;
    cursor: pointer;
    display: block;
    /* 
    if width will be 100% horizontal scrollbar will apear 
    when scroll mode will be used
    */
    /*width: 100%;*/
    font: menu;
    font-size: 12px;
    /* 
    it is very important, if line-height not setted or setted 
    in relative units scroll will be broken in firefox
    */
    line-height: 16px;
    overflow: hidden;
    border-bottom: 1px solid #c3add9 ;
}

.ui-autocomplete a {
    display: block;
    padding: 2px 5px;
}
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
    background-color: #987db3;
    color: #fff;
}


aside.tips {
    padding-left: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid  #C3ADD9;
    width: 294px;
}
