/* Branches page */

table.standard tr.eol td:first-child {
	background: #f33;
	color: white;
}

table.standard tr.security td:first-child {
	background: #f93;
}

table.standard tr.stable td:first-child {
	background: #9c9;
}

@media (max-width: 767px) {
	table.standard th {
		font-size: 1rem;
	}

	table.standard td.collapse-phone {
		padding: 0;
	}

	table.standard td.collapse-phone * {
		display: none;
	}
}

svg {
	max-width: 100%;
	height: auto;
}

.version-notes {
  border: 0;
}
