/**
 *
 *  COLORS:       | HEX     | HSB
 * ---------------+---------+---------------
 *  light-purple  | #c3add9 | 270, 20%, 85%
 * ---------------+---------+---------------
 *  medium-purple | #987db3 | 270, 30%, 70%
 * ---------------+---------+---------------
 *  dark-purple   | #604080 | 270, 50%, 50%
 * ---------------+---------+---------------
 *
 */

body * {
    border-color: #c3add9;
}

body, input, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

body {
    line-height: 1.4;   
    background: url('/images/sprites.png') repeat-x 0px -990px #fff;
}

h1    { font-size: 1.7em; line-height: 2.6em; margin-bottom: 0.2em; }
h2    { font-size: 1.6em; line-height: 2.4em; }
h3    { font-size: 1.4em; line-height: 2.2em; }
h3.title {
    font-size: 1.5em;
    border-top-style: solid;
    border-top-width: 3px;
    padding-top: 6px;
    margin-top: 2em;
}

h4    { font-size: 1.3em; line-height: 2.0em; }
h5    { font-size: 1.2em; line-height: 1.8em; }
h6    { font-size: 1.1em; line-height: 1.6em; }
small { font-size: .9em; }


a:link,
a:visited {
    color: #528918;
}

a:hover {
    color: #355c0b;
}

#headnav {
    padding: 0 25px;
    height: 72px;
    line-height: 1;
    background: url('/images/sprites.png') repeat-x 0px -100px;
}

#headnav .myphp {
    float: left;
    position: absolute;
    right: 20px;
    top: 30px;
}

#headmenu {
    width: 940px;
    margin: 0 auto;
    padding-right: 20px;
}

#headnav h6,
#headmenu li,
#headsearch {
    display: block;
    float: left;
    margin: 0;
    list-style: none;
    padding: 18px 0 0 0;
}

#headnav #headhome a.menu-link,
#headnav #headhome a.menu-link:hover {
    background: url(/images/sprites.png) 0 0;
    width: 170px;
    height: 13px;
    text-indent: -2000em;
}

#headnav li.parent a.menu-link {
    padding-right: 25px;
    background: url(/images/sprites.png) no-repeat 100% 11px;
}

#headnav li.parent .children {
    display: none;
}

#headnav li.parent.current a.menu-link {
    background-position: 100% -19px;
}

#headnav a.menu-link {
    display: block;
    padding: 12px 15px 17px 15px;
    margin: 0;
    border-bottom: 12px solid;
    color: #444;
    border-color: #987db3;
    font-weight: bold;
}

#headnav li#headsearch {
    margin: 22px 0 0 20px;
    padding: 2px;
    float: right;
    border: 1px solid;
    border-color: #987db3;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#headsearch-keywords {
    border: 0;
    padding: 2px;
    width: 14em;
}

#headsearch-keywords,
#changelang-langs
{
    color: #666;
    background: transparent;
    -webkit-appearance: none;
}

#headsearch-keywords:focus {
    color: #000;
}

#headsearch-submit,
#changelang-submit
{
    border: 0;
    margin: 1px;
    padding: 2px 5px;
    font-weight: bold;
    border-color: #987db3;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;    
    border-radius: 5px;
    border: 1px solid #604080;
    background: #604080;
    color: #fff;
    cursor: pointer;
}
#changelang {
    border-color: #987db3;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;    
    border-radius: 5px;
    border: 1px solid #604080;
    float: right;
}

#headnav li dl {
    line-height: 1;
}

#headnav li dl dd:hover,
#headnav li dl dt:hover {
    background: #eee;
}

#headnav li.current a.menu-link,
#headnav li a.menu-link:hover,
#headnav li#headhome.current {
    border-color: #604080;
}

#headnav li.current a.menu-link {
    color: #000;
}

h1, h1 a, h1 a:visited, h1 a:link {
    font-weight: normal;
    color: #666;
    letter-spacing: -0.04em;
}

h1 a:hover {
    color: #444;
}

/**
 * Auto-complete
 */
.ui-autocomplete {
    width: 185px;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-position: outside;
    list-style: none;
    margin: 0;
    padding: 0 0 5px 0;
    border: 1px solid;
    z-index: 99999;
    border-color: #987db3;
    background-color: white;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #f6f6f6;
    box-shadow: 0px 2px 2px #555;
    -webkit-box-shadow: 0px 2px 2px #555;
    -moz-box-shadow: 0px 2px 2px #555;
}

.ui-autocomplete .ui-state-hover {
    background-color: #604080;
    color: white;
}

.ui-autocomplete li {
    margin: 0px;
    cursor: pointer;
    display: block;
    /*
    if width will be 100% horizontal scrollbar will apear
    when scroll mode will be used
    */
    /*width: 100%;*/
    font: menu;
    font-size: 12px;
    /*
    it is very important, if line-height not setted or setted
    in relative units scroll will be broken in firefox
    */
    line-height: 16px;
    overflow: hidden;
    border-bottom: 1px solid #c3add9 ;
}

.ui-autocomplete a {
    display: block;
    padding: 2px 5px;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
    background-color: #987db3;
    color: #fff;
}

/**
 * User notes
 */
#usernotes {
    margin: 0 0 10px 175px;

    background: #eee;
    position: relative;
}

#usernotes .action {
    display: block;
    top: 1em;
    right: 20px;
    position: absolute;
    text-align: right;
}

#usernotes .foot .action {
    position: relative;
    top: -1em;
    margin-bottom: 1em;
}

#usernotes h3 {
    border-color: #4d63ff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 6px;
}

#usernotes .note {
    margin: 0 20px 2em 20px;
    border-top: 3px solid #ddd;
}

#usernotes .user, #usernotes .date, #usernotes .admin {
    display: block;
    width: 50%;
    float: left;
    margin-bottom: 0.6em;
}

#usernotes .date, #usernotes .admin {
    float:right;
    text-align: right;
}



/* PHP source code highlighting ------------------------------------------- */
.phpcode, div.classsynopsis {
	padding: 0.5em;
	text-align: left;
}
div.phpcode span.html {
	color: black;
	background-color: transparent;
}
div.phpcode span.comment, div.classsynopsisinfo_comment {
	color: #FF8000;
	background-color: transparent;
}
div.classsynopsisinfo_comment {
	font-weight: bold;
}
div.phpcode span.default {
	color: #0000BB;
	background-color: transparent;
}
div.phpcode span.keyword {
	color: #007700;
	background-color: transparent;
}
div.phpcode span.string {
	color: #DD0000;
	background-color: transparent;
}

.warn {
    padding: 10px 20px;
    margin: 1em 2em 1.3em;
    margin-right: 0.8em;
    border-top: 3px solid #ff4d4d;
    background-color: #EFEFEF;
}
pre.info {
    font-family:"Courier New", Courier, monospace;
    border: 1px solid #ddd;
    margin: 1em 2em 1.3em;
    margin-right: 0.8em;
    background-color: #efefef;
}

/**
 * Mega drop-down menu
 */

#mega-drop-down {
    background-color: #333;
    border-color: #c3add9;
}

#mega-drop-down div.children {
    border-bottom-width: 12px;
    border-bottom-style: solid;
    padding-bottom: 1em;
}

#mega-drop-down div.children-1 {
    width: 960px;
    margin: 0 auto;
}

#mega-drop-down dl, #mega-drop-down ul {
    float: left;
    width: 225px;
    padding-right: 15px;
}

#mega-drop-down dt, #mega-drop-down li {
    font-weight: bold;
    margin-top: 1em;
}

#mega-drop-down dd {
    padding: 0 0 0 10px;
    font-size: 11px;
}

#mega-drop-down a {
    display: block;
    padding: 4px;
    color: #ccc;
}

#mega-drop-down dt a {
    color: #eee;
}


/* {{{ The anchor for section headers */
a.genanchor:link,
a.genanchor:visited {
    color: #fff;
}
a.genanchor:hover {
    color: #000;
}
/* }}} */

#langform {
    float: right;
}

aside.tips {
    padding-left: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid  #C3ADD9;
    width: 294px;
}

#layout {
    padding: 25px 150px 25px 10px;
    max-width: 1400px;
    min-width: 600px;
    margin: 0 auto;
}

.layout-menu {
    float: left;
    width: 160px;
}

.layout-menu li a {
    display: block;
    border-top-width: 3px;
    border-top-style: solid;
    padding: 4px 0;
    margin-top: 1em;
    font-weight: bold;
}

.layout-menu li li a {
    overflow: hidden;
    border: none;
    font-size: 11px;
    padding: 1px 0 1px 20px;
    margin: 0;
    font-weight: normal;
}
.layout-menu li.current a {
    font-weight: bold;
}

.layout-content {
    margin-left: 175px;
    padding-bottom: 12px;
    display: block;
}

footer .footmenu {
    float: right;
}
footer .footmenu.copyright {
    float: left;
}
footer .footmenu li {
    display: inline;
}

footer {
    clear: both;
    border-top: 3px solid #c3add9;
    padding-top: 5px;
}

footer a {
    color: #444;
    border-color: #987db3;
    font-weight: bold;
    margin: 0 8px;
}

footer a:hover {
    color: #000;
}
