/**
 *
 *  COLORS:       | HEX     | HSB
 * ---------------+---------+---------------
 *  light-purple  | #c3add9 | 270, 20%, 85%
 * ---------------+---------+---------------
 *  medium-purple | #987db3 | 270, 30%, 70%
 * ---------------+---------+---------------
 *  dark-purple   | #604080 | 270, 50%, 50%
 * ---------------+---------+---------------
 *
 */

body * {
    border-color: #9999CC;
}

body, input, textarea {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    font-size:100%;
}

body {
    font-size: 1em;
    line-height: 1.5em;
    background: url('/images/sprites.png') repeat-x 0px -990px #fff;
}
h1 {
    font-size: 2em;
    line-height: 1.5em;
}
h2 {
    font-size: 1.5em;
    line-height: 2em;
}
h3 {
    font-size: 1.25em;
    line-height: 1.2em;
}
p, ul {
    margin:1.5em 0;
}
p:empty {
    margin:0;
    height:0;
    display:none;
}
small {
    font-size: 0.75em;
}

abbr {
    border-bottom:1px dotted #999;
    cursor: help;
}

h1, h1 a, h1 a:visited, h1 a:link {
    color: #666;
    border-color:#666;
}
h1 a:hover,
h1 a:focus {
    color: #000;
    border-color:#000;
}

h2, h2 a, h2 a:visited, h2 a:link {
    color: #333;
    border-color:#333;
}

h2 a:hover,
h2 a:focus {
    color: #000;
    border-color:#000;
}

h3.title {
    font-size: 1.5em;
    line-height: 2;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:normal;
}
h4, h5, h6 {
    font-size:1em;
    color:#000;
}


a:link,
a:visited {
    color: #3F438D;
    border-bottom: 1px solid #c5c3e3;
}

a:hover,
a:focus {
    color: #015;
    border-bottom: 1px solid #3F438D;
}

ul {
    list-style-type: disc;
    margin: 1.5em;
}

ol {
    list-style-type: decimal;
    margin: 1.5em;
}

hr {
    margin:1.5em 0 1.25em;
    border:0;
    height:0;
    border-top:.25em solid #99c;
}

#headnav {
    height: 70px;
    line-height: 1;
    background: url('/images/sprites.png') repeat-x 0px -100px;
    margin-top:.75em;
    min-width:960px;
}

#headnav .myphp {
    float: left;
    position: absolute;
    right: 20px;
    top: 30px;
}

#headmenu {
    width: 960px;
    margin: 0 auto;
}

#headnav h6,
#headmenu li,
#headsearch {
    display: block;
    float: left;
    margin: 0;
    list-style: none;
    padding: 18px 0 0 0;
}

#headnav #headhome a.menu-link {
    background: url(/images/sprites.png) 0 0;
    width: 120px;
    height: 16px;
    text-indent: -2000em;
}

#headnav li.parent a.menu-link {
    padding-right: 25px;
    background: url(/images/sprites.png) no-repeat 100% 11px;
}

#headnav li.parent .children {
    display: none;
}

#headnav li.parent.current a.menu-link {
    background-position: 100% -19px;
}

#headnav a.menu-link {
    display: block;
    padding: 12px 15px 16px 15px;
    margin: 0;
    border-bottom: .5em solid;
    color: #444;
    border-color: #7F7FB2;
    font-weight: bold;
}
#headsearch {
    width:258px;
}
#headnav li#headsearch {
    margin: 22px 0 0 20px;
    padding: 2px;
    float: right;
    border: 1px solid #7F7FB2;
}

#headsearch-keywords {
    border: 0;
    padding: 2px;
    width: 210px;
    height:26px;
    float: left;
}

#headsearch-keywords,
#changelang-langs
{
    color: #666;
    background: transparent;
    -webkit-appearance: none;
}

#headsearch-keywords:focus {
    color: #000;
}

#headsearch-submit {
    float:right;
}
#headsearch-submit,
#changelang-submit
{
    border: 0;
    margin: 1px;
    padding: 2px 5px;
    font-weight: bold;
    border-color: #7F7FB2;
    border: 1px solid #666699;
    background: #666699;
    color: #fff;
    cursor: pointer;
}
#changelang {
    border-color: #7F7FB2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;    
    border-radius: 5px;
    border: 1px solid #666699;
    float: right;
}

#headnav li dl {
    line-height: 1;
}

#headnav li dl dd:hover,
#headnav li dl dt:hover {
    background: #eee;
}

#headnav li.current a.menu-link,
#headnav li a.menu-link:hover,
#headnav li a.menu-link:focus,
#headnav li#headhome.current {
    border-color: #666699;
}

#headnav li.current a.menu-link {
    color: #000;
}


/**
 * Auto-complete
 */
.ui-autocomplete {
    width: 185px;
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-position: outside;
    list-style: none;
    margin: 0;
    padding: 0 0 5px 0;
    border: 1px solid;
    z-index: 99999;
    border-color: #7F7FB2;
    background-color: white;
    border-top: 1px solid #f6f6f6;
    -webkit-box-shadow: 0px .25em .5em rgba(0,0,0,.33);
    -moz-box-shadow: 0px .25em .5em rgba(0,0,0,.33);
    box-shadow: 0px .25em .5em rgba(0,0,0,.33);
}

.ui-autocomplete .ui-state-hover,
.ui-autocomplete .ui-state-focus {
    background-color: #666699;
    color: white;
}

.ui-autocomplete li {
    margin: 0px;
    cursor: pointer;
    display: block;
    /*
    if width will be 100% horizontal scrollbar will apear
    when scroll mode will be used
    */
    /*width: 100%;*/
    font: menu;
    font-size: 12px;
    /*
    it is very important, if line-height not setted or setted
    in relative units scroll will be broken in firefox
    */
    line-height: 16px;
    overflow: hidden;
    border-bottom: 1px solid #9999CC;
}

.ui-autocomplete a {
    display: block;
    padding: 2px 5px;
}
.ui-autocomplete a .search-item-description,
.ui-autocomplete a .search-item-label {
    display:block;
}

.ui-autocomplete a .search-item-description {
    color:#666;
}

.ui-autocomplete .ui-state-hover .search-item-description,
.ui-autocomplete .ui-state-focus .search-item-description {
    color:#ccc;
}

.ui-autocomplete a .search-item-label {
    font-weight:bold;
}
.ui-autocomplete a .search-item-category {
    font-weight:normal;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
    background-color: #7F7FB2;
    color: #fff;
}

/**
 * User notes
 */
#usernotes {
    margin: 0 0 1.5em 216px;
    position: relative;
    max-width: 75em;
}

#usernotes .note:before {
    content:" ";
    position:absolute;
    top:-.25em;
    left:0;
    right:0;
    bottom:0;
    z-index: -1;
    border-top:.25em solid #ddd;
}

#usernotes .action {
    display: block;
    top: 1em;
    right: 0;
    position: absolute;
    text-align: right;
}

#usernotes .foot .action {
    position: relative;
    top: -1em;
    margin-bottom: 1em;
}

#usernotes h3 {
    border-top: .2em solid #669;
    padding-top: .801em;
}

#usernotes .note {
    margin: 1.5em 0;
    padding: 1.5em .75em;
    background-color: #f5f5f5;
    position: relative;
}

#usernotes .user,
#usernotes .date,
#usernotes .admin {
    display: block;
    width: 50%;
    float: left;
    margin-top:-.25em;
}
#usernotes .text {
    padding-top:1.5em;
}

#usernotes .date, #usernotes .admin {
    float:right;
    text-align: right;
    border-bottom: none;
}

/* Definition lists used on eg. the unsub page */
dl dd {
	margin:0;
	padding:0 1.5em;
}
dl dd p {
    margin:0;
}


/* PHP source code highlighting ------------------------------------------- */
code {
    font-family: monospace;
    font-size:1.230769em; /* bumps it back up to the rest of the fonts because monospace is smaller */
}
.phpcode, div.classsynopsis {
	text-align: left;
}
div.phpcode span.html {
	color: black;
	background-color: transparent;
}
div.phpcode span.comment {
	color: #FF8000;
	background-color: transparent;
}
div.classsynopsisinfo_comment {
	font-weight: bold;
	margin-top:1.5em;
}
div.phpcode span.default {
	color: #0000BB;
	background-color: transparent;
}
div.phpcode span.keyword {
	color: #007700;
	background-color: transparent;
}
div.phpcode span.string {
	color: #DD0000;
	background-color: transparent;
}

.warn {
    padding: 10px 20px;
    margin: 1em 2em 1.3em;
    margin-right: 0.8em;
    border-top: 3px solid #ff4d4d;
    background-color: #EFEFEF;
}
pre.info {
    font-family: monospace;
    font-size:1.230769em; /* bumps it back up to the rest of the fonts because monospace is smaller */
    border: 1px solid #ddd;
    margin: 1em 2em 1.3em;
    margin-right: 0.8em;
    background-color: #efefef;
}

/**
 * Mega drop-down menu
 */

#mega-drop-down {
    background-color: #333;
    border-color: #9999CC;
}

#mega-drop-down div.children {
    border-bottom-width: .5em;
    border-bottom-style: solid;
    padding-bottom: 1em;
}

#mega-drop-down div.children-1 {
    width: 960px;
    margin: 0 auto;
}

#mega-drop-down dl, #mega-drop-down ul {
    float: left;
    width: 225px;
    padding-right: 15px;
}

#mega-drop-down dt, #mega-drop-down li {
    color: #eee;
    font-weight: bold;
    margin-top: 1em;
}

#mega-drop-down dd {
    padding: 0 0 0 10px;
    margin: 0;
    font-size: 11px;
}

#mega-drop-down a {
    display: block;
    padding: 2px;
    color: #ccc;
    border-bottom: none;
}

#mega-drop-down dt a {
    color: #eee;
}

#mega-drop-down a:hover,
#mega-drop-down a:focus {
    color: #FFF;
    border-bottom: none;
}

/* {{{ The anchor for section headers */
a.genanchor:link,
a.genanchor:visited {
    color: transparent;
    border-bottom: none;
}
a.genanchor:hover,
a.genanchor:focus {
    color: #000;
    border-bottom: none;
}
/* }}} */

#langform {
    float: right;
}

aside.tips {
    background-color: #f9f9f9;
    border-bottom: .5em solid #9999CC;
    float: right;
    margin:0 0 1em 1.5em;
    width: 288px;
}

aside.tips div.border {
    float: left;
    width: 96px;
    border-top: .5em solid #9999CC;
}

aside.tips div.border.second {
    border-color: #7F7FB2;
}

aside.tips div.border.third {
    border-color: #9999CC;
}

aside.tips div.inner {
    clear: both;
    margin: 1.5em 1.5em;
}


#layout {
    width: 960px;
    margin: 1.5em auto;
}

@media screen and (min-width: 1280px) {
    #layout {
        width: 75%;
    }
}

.layout-menu {
    float: left;
}

.layout-menu li a {
    display: block;
    border-top-width: 3px;
    border-top-style: solid;
    padding: 4px 0;
    margin-top: 1em;
    font-weight: bold;
}

.layout-menu li li a {
    overflow: hidden;
    border: none;
    font-size: 11px;
    padding: 1px 0 1px 20px;
    margin: 0;
    font-weight: normal;
}
.layout-menu li.current a {
    font-weight: bold;
}

.layout-content {
    display: block;
    margin: 0 auto;
}

#search-results {
    margin:10px 40px;
}

#search-results li {
    padding:1em 0;
    list-style: none;
}

#search-results li .result {
    font-size: 1.2em
}

#results_nav_list {
    margin:0;
    padding:1em 0;
}
#results_nav_list li {
    list-style: none;
    display:inline-block;
}
#results_nav_list li a {
    padding:.5em .66em;
}
#results_nav_list li.current {
    font-weight: bold;
}
/* Footer styling */

footer {
    clear: both;
    overflow: auto;
    background-color: #333;
    border-top: .5em solid #9999CC;
    border-bottom: .5em solid #9999CC;
    padding: 1.5em 0;
    min-width:960px;
}

footer .footer-content {
    width: 960px;
    margin: 0 auto;
}

footer .footmenu {
    float: right;
    margin: 0;
}
footer .footmenu.pagetools {
    clear: right;
}
footer .footmenu.copyright {
    float: left;
}
footer .footmenu li {
    display: inline;
}

footer a {
    color: #ccc;
    margin: 0 .5em;
}

footer a:link,
footer a:visited {
    color: #ccc;
    border-bottom: none;
}

footer a:hover,
footer a:focus {
    color: #888;
    border-bottom: none;
}


/* Elephpant photo stream */

div.elephpants {
    margin: auto;
    overflow: hidden;
    border-bottom: .5em solid #9999CC;
    min-width:960px;
}

div.elephpants div.images {
    height: 75px;
    background-color: #333;
    text-align: center;
    white-space: nowrap;
}

div.elephpants img {
    width: 75px;
    height: 75px;
    opacity: 0.5
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}

div.elephpants:hover img {
    opacity: 0.6;
    -moz-opacity: 0.6;
    -webkit-opacity: 0.6;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}

div.elephpants img:hover,
div.elephpants img:focus {
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
}


/* Standard Tables */

table.standard {
    border-collapse: collapse;
    border-style: hidden;
}

table.standard td, table.standard th {
    border: 1px solid #ddd;
}

table.standard tr:nth-child(even) td {
    background-color: #fcfcfc;
}

table.standard th {
    font-size: 1.1em;
    padding: 20px 10px 5px 10px;
    color: #777;
    font-weight: normal;
}

table.standard td {
    padding: 5px 10px;
    vertical-align: middle;
}

table.standard tr:nth-child(even) td.subr,
table.standard tr:nth-child(even) th.subr,
table.standard tr td.subr,
table.standard tr th.subr,
table.standard tr:nth-child(even) td.sub,
table.standard tr:nth-child(even) th.sub,
table.standard tr td.sub,
table.standard tr th.sub {
    background: #eee;
}

table.standard td.subr,
table.standard th.subr {
    text-align: right;
}

/* News styles. */
.newsImage img {
    padding-left: 1em;
    padding-bottom: 1em;
}
.newsItem {
    margin:1.5em 0;
    border-bottom: solid 0.25em #99c;
}
.newsItem:last-child {
    border-bottom: 0;
}
.newsItem .published {
    display:inline-block;
    color:#666;
    font-size:.75em;
    line-height: 2;
}
.newsItem abbr.published {
    margin-bottom:-1px;
}
.spanning-content {
    width:960px;
    margin: 0 auto;
    clear:both;
}

p code {
    font-family: Verdana, Arial, sans-serif;
    font-size:100%;
}

/* Changelog pages. */
.changelog h3 {
    /* Fake the <hr> above headings that we used to have before rejigging the
     * NEWS format. */
    border-top: solid 0.2em #99C;
    line-height: 2em;
    margin-top: 1.5em;
    padding-top: 1.25em;
}

.changelog hr + a[name] + h3 {
    /* Remove the fake <hr> border if we actually have a <hr>. */
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}

.changelog b {
    /* Not entirely clear how <b> became the enclosing element for dates, but
     * whatever. We'll use the same styling as dates in the news archive,
     * except without the dotted border (since they're not actual <abbr>
     * elements). */
    color: #666;
    display: inline-block;
    font-size: 0.75em;
    font-weight: normal;
    line-height: 2;
}
