#layout {
    background: white;
    width: 1170px;
    margin: 0 auto 1.5em;
}
.docs code.parameter {
    font-size: 1em;
}
code, pre.info, .docs .classsynopsis, .docs .classsynopsis code {
    font-size: 0.875em;
}
.refentry, #allnotes {
    margin: 1.5em;
}
